{
  "plugins": [
    "es5"
  ],
  "ignorePatterns": [
    ".postcss.config.js",
    "node_modules/**/*.js",
    "**/lottie-player.js",
    "**/calendly-widget-min.js"
  ],
  "parserOptions": {
    "ecmaVersion": 6,
    "ecmaFeatures": "impliedStrict",
    "sourceType": "module"
  }
}
