.env
.secrets
backup
docker-compose.override.yml
node_modules
vendor
dist

data
plugins
themes
wordpress
.wp-cli
!.wp-cli/cache
wp_data

codecept/output

.vscode
.idea
.svn
.docker
Thumbs.db
Thumbs.db:encryptable
Desktop.ini
.DS_Store

_tmp_conversion
photography
video
material/*
