/**
 * Design Settings (Colors, Sizes, Breakpoints etc.)
 *
 * @package KleiderOrdnung
 * @author openmindculture
 */

:root {

  /* DON'T USE IN MEDIA QUERIES! Root properties can't be used in media queries! */
  --breakpoint-s: 555px; /* custom instead of usual sm: 576 */
  --breakpoint-md: 768px;
  --breakpoint-m: 824px; /* custom */
  --breakpoint-lg: 992px;
  --breakpoint-l1: 1001px; /* custom */
  --breakpoint-l2: 1024px; /* custom instead of xl 1200 */
  --breakpoint-xxl: 1440px;

  /* Width / Height Standards */
  --width-full: 87.5rem; /* anything smaller than actual full width */
  --width-spaced: 57.5rem; /* 920px Mission, Key Visual Text etc. maximal */
  --width-max: calc(100% - 2.5rem); /* full (mobile) viewport minus horinzontal margins */
  /* thus a potential mixin would look like
   * width: var(--width-full | --width-constrained);
   * max-width: var(--width-max);
   */
  --height-stories-max: 60vh;

  /* header height to prevent anchor links go astray */
  /* mobile:65px; desktop: 48 + 57 = 105px; tablet 48 + 104 = 152px */
  --header-height: 10rem;
  --header-height-negative: -10rem;
  --header-height-stuck: 0;

  /* Text Styles */
  --font-family-henderson: "Henderson Sans W00", sans-serif;
  --font-family-ivymode: "IvyMode", serif;
  --font-family-default: var(--font-family-henderson);
  --font-family-heading: var(--font-family-ivymode);

  /* Font sizes with pixel names to make it easier to use and verify with Figma designs */
  --font-size-48: 3rem;
  --font-size-40: 2.5rem;
  --font-size-32: 2rem;
  --font-size-28: 1.75rem;
  --font-size-24: 1.5rem;
  --font-size-20: 1.25rem;
  --font-size-17: 1.0625rem;
  --font-size-16: 1rem;
  --font-size-15: 0.9375rem;
  --font-size-14: 0.875rem;
  --font-size-13: 0.8125rem;
  --font-size-12: 0.75rem;

  --font-weight-regular: 400;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  /* Color Styles */
  /* PREFERABLY USE generic semantic names below like --color-primary-background ! */
  --color-blue-dark-purpleish: #0014d1;
  --color-orange-dark: #ff9052; /* do we have better names for those colors? */
  --color-pink-neon: #ff5baa;
  --color-pink-reddish: #ff5454;
  --color-turquoise-pastel: #bad2d7;
  --color-purple-pastel-pinkish: #cbc3f6; /* decoration color, currently not used for text content */
  --color-pink-pastel-orangeish: #ffc7b0;
  --color-pink-pastel-pinkish: #ffb1ce;
  --color-pink-pastel-salmon: #ffa6a6;
  --color-sandy-light-grayish: #f5f1ed; /* default background color */
  --color-sandy-light-pinkish: #f4e9e0;
  --color-anthracite-dark-purpleish: #5d5781;
  --color-default-white: #ffffff;
  --color-default-black: #000000;

  /* Export Theme Colors */
  --color-primary-background: var(--color-sandy-light-grayish);
  --color-primary-foreground: var(--color-blue-dark-purpleish);
  --color-secondary-background: var(--color-default-white);
  --color-inverted-background: var(--color-blue-dark-purpleish);
  --color-inverted-foreground: var(--color-default-white);
  --color-neutral-background: transparent;
  --color-hover-background: var(--color-pink-pastel-orangeish);

  /* Effect Styles */
  --effect-box-shadow-dropshadow: 3.75rem 4rem 4.625rem rgba(0, 0, 0, 0.12);
}

@media (min-width: 768px) {
  :root {
    --header-height: 9.5rem;
    --header-height-negative: -9.5rem;
  }
}

@media (min-width: 768px) {
  :root {
    --header-height: 9.5rem;
    --header-height-negative: -9.5rem;
  }
}

@media (min-width: 1001px) {
  :root {
    --header-height: 6.5625rem;
    --header-height-negative: -6.5625rem;
  }
}
