/**
 * Define / reset global Styles
 *
 * @package KleiderOrdnung
 * @author openmindculture
 */

*,
*::before,
*::after {
  box-sizing: border-box;
}

@media screen and (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

body {
  background-color: var(--color-primary-background);
  color: var(--color-primary-foreground);
  /* prepare voice settings according to CSS speech draft */
  /* stylelint-disable property-no-unknown */
  voice-family: female;
  voice-pitch: medium;
  /* stylelint-enable property-no-unknown */
}

html, body, main, .main, p {
  margin: 0;
  padding: 0;
  font-family: var(--font-family-default);
  font-weight: var(--font-weight-regular);
  text-rendering: optimizespeed;
  font-size: var(--font-size-16);
  line-height: 140%;
}

main {
  min-height: calc(100vh - var(--header-height) - var(--footer-height));
}

::selection { /* TODO propbably not exactly the same as links? or change link backgrounds instead? */
  background-color: var(--color-hover-background);
  color: var(--color-primary-foreground);
}

img, svg, picture {
  border: none;
  max-width: 100%;
  height: auto;
  display: inline-block;
  margin: 0;
  padding: 0;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

@media (max-width: 767.767px) {
  html, body, main, .main, p {
    font-size: var(--font-size-14);
  }
}
