/**
 * Define / reset global Styles
 *
 * @package KleiderOrdnung
 * @author openmindculture
 */

*,
*::before,
*::after {
  box-sizing: border-box;
}

@media screen and (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

html, body, main, .main, p {
  margin: 0;
  padding: 0;
  font-family: var(--font-family-default);
  font-weight: var(--font-weight-regular);
  text-rendering: optimizespeed;
  font-size: var(--font-size-16);
  line-height: 140%; /* would that be 1.4 ? is there a best-practice notation? "or 22px" */
}

html, body {
  background-color: var(--color-primary-background);
  color: var(--color-primary-foreground);
  voice-family: female;
  voice-pitch: medium;
}

::selection { /* TODO propbably not exactly the same as links? or change link backgrounds instead? */
  background-color: var(--color-hover-background);
  color: var(--color-primary-foreground);
}

img, svg {
  border: none;
  max-width: 100%;
  height: auto;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

@media (max-width: 767.767px) {
  html, body, main, .main, p {
    font-size: var(--font-size-14);
  }
}
