/**
 * Define reusable Style Snippets (Mixins)
 *
 * depends on postcss-mixins
 *
 * .ignore file if the non-standard syntax causes false positive warnings
 *
 * example:
   @define-mixin typography-button-label $className {
   $(className) {
     // styles to mix in
     @mixin-content; // anything nested when using the mixin
   }

   @mixin mixin-name .class-name {
     // mixin-content
   }
 *
 * @package KleiderOrdnung
 * @author openmindculture
 */

/* stylelint-disable */

@define-mixin typography-button-label $className {
  $(className) {
    font-family: var(--font-family-default);
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-13);
    line-height: 107%;
    font-style: normal;
    text-transform: uppercase;
    @mixin-content;
  }
}

@define-mixin typography-copy $className {
  $(className) {
    font-family: var(--font-family-default);
    font-weight: var(--font-weight-regular);
    font-size: var(--font-size-15);
    line-height: 160%;
    @mixin-content;
  }
}

@define-mixin typography-copy-sm $className { /* mobile / tablet < 768px */
  $(className) {
    font-size: var(--font-size-14);
    @mixin-content;
  }
}

@define-mixin typography-copy-bold $className {
$(className) {
  font-family: var(--font-family-default);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-15);
  line-height: 160%;
  letter-spacing: -0.03125rem;
  @mixin-content;
}
}

@define-mixin typography-heading-h1 $className {
  $(className) {
    font-family: var(--font-family-heading);
    font-weight: var(--font-weight-regular);
    font-size: var(--font-size-48);
    font-style: normal;
    line-height: 140%;
    letter-spacing: 0.15rem;
    @mixin-content;
  }
}

@define-mixin typography-heading-h1-sm $className { /* mobile / tablet < 768px */
  $(className) {
    font-size: var(--font-size-40);
    @mixin-content;
  }
}

@define-mixin typography-heading-h1-xs $className { /* smartphone < 555px */
  $(className) {
    font-size: var(--font-size-24);
    @mixin-content;
  }
}

@define-mixin typography-heading-h2 $className {
  $(className) {
    font-family: var(--font-family-default);
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-17);
    line-height: 160%;
    letter-spacing: -0.03125rem;
    text-transform: uppercase;
    font-style: normal;
    @mixin-content;
  }
}

@define-mixin typography-heading-h3 $className {
  $(className) {
    font-family: var(--font-family-heading);
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-24);
    font-style: normal;
    line-height: 130%;
    letter-spacing: 0.1rem;
    @mixin-content;
  }
  @media (min-width: 768px) {
    $(className) {
      font-size: var(--font-size-32);
    }
  }
}

@define-mixin typography-heading-h3-sm $className { /* mobile / tablet < 768px */
  $(className) {
    font-size: var(--font-size-28);
    @mixin-content;
  }
}

@define-mixin typography-heading-h4 $className {
  $(className) {
    font-family: var(--font-family-default);
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-17);
    line-height: 160%;
    letter-spacing: -0.03125rem;
    font-style: normal;
    @mixin-content;
  }
}

@define-mixin typography-quote-text $className {
$(className) {
  font-family: var(--font-family-heading);
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-20);
  line-height: 160%;
  letter-spacing: 0.0625rem;
  font-style: normal;
  @mixin-content;
}
}

@define-mixin typography-weight-semibold $className {
  $(className) {
    font-weight: var(--font-weight-semibold);
    @mixin-content;
  }
}

@define-mixin typography-weight-bold $className {
  $(className) {
    font-weight: var(--font-weight-bold);
    @mixin-content;
  }
}

@define-mixin layout-column-wrapper $className {
  $(className) {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    width: 90rem;
    max-width: calc(100% - 1rem);
    margin: 0 auto;
    @mixin-content;
  }
}

@define-mixin layout-column-50 $className {
  $(className) {
    flex-basis: 100%;
    max-width: 100%;
    @mixin-content;
  }
}

/* stylelint-enable */
