/**
 * Admin Edit Link Component (visible only to logged in admins, class set in js based on cookies for better caching)
 *
 * @package KleiderOrdnung
 * @author openmindculture
 */

.admin__editlink {
  display: none;
  position: absolute;
  top: 3.5rem;
  right: 3.5rem;
  width: fit-content;
  height: 3.5rem;
  z-index: 20;
  background-color: transparent;
  color: var(--color-primary-foreground);
}

.admin__editlink__icon {
  width: 1.5rem;
  height: 1.5rem;
}

@media (min-width: 768px) {
  .admin__editlink {
    top: 6.5rem;
    right: 2rem;
    height: 7rem;
  }
  .admin__editlink__icon {
    width: 2.5rem;
    height: 2.5rem;
  }
  .admin__editlink__icon:not(:last-child) {
    margin-right: 0.5rem;
  }
}

@media (min-width: 1313px) {
  .admin__editlink {
    top: 1rem;
    right: 1rem;
  }
}

.admin__editlink__icons,
.admin__editlink__text {
  display: block;
  color: var(--color-default-black);
  text-align: right;
}

.admin__editlink:hover,
.admin__editlink:focus,
.admin__editlink:focus-within {
  background-color: var(--color-hover-background);
}

.admin__editlink__link,
.admin__editlink__link:link,
.admin__editlink__link:visited,
.admin__editlink__link:active {
  background: none;
  background-color: transparent;
  color: var(--color-default-black);
  cursor: pointer;
  background-image: none;
  text-decoration: none;
}

body.admin-bar.logged-in .admin__editlink {
  display: block;
}
