/**
 * Buttons, Links, and other interactive Elements
 *
 * @package KleiderOrdnung
 * @author openmindculture
 */

.button {
  font-family: var(--font-family-default);
  font-weight: 700;
  font-size: var(--font-size-13);
  line-height: 0.875rem;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  border-radius: 1.875rem;
  padding: 1rem 1.5rem;
}

.button--primary,
.button--primary a,
.button--primary a:link,
.button--primary a:visited {
  background-color: var(--color-blue-dark-purpleish);
  color: var(--color-default-white);
  display: inline-block;
  transition: background-color 0.325s ease-out;
}

/* stylelint-disable-next-line no-descending-specificity */
.button--inverted,
.button--inverted a,
.button--inverted a:link,
.button--inverted a:visited {
  background-color: var(--color-default-white);
  color: var(--color-blue-dark-purpleish);
  display: inline-block;
  transition: background-color 0.325s ease-out;
}

a:not(.button).active, /* .active class might be set by JavaScript on waypoint (target) observation */
a:not(.button):active,
a:not(.button):hover,
a:not(.button):focus {
  background-color: var(--color-hover-background);
  border: none;
  outline: none;
  color: var(--color-primary-foreground);
  border-radius: 0.25rem;
}

.button--primary.active,
.button--primary:active,
.button--primary:hover,
.button--primary:focus {
  background-color: var(--color-hover-background-contrast);
  outline: none;
}

.button--inverted.active,
.button--inverted:active,
.button--inverted:hover,
.button--inverted:focus {
  background-color: var(--color-hover-background-contrast);
  color: var(--color-default-white);
}

.button__allow {
  border: none;
  cursor: pointer;
  pointer-events: auto;
}

@mixin typography-button-label .button__allow:not(.button--primary) {
  appearance: none;
  -webkit-appearance: none;
  background-color: transparent;
  border: none;
  color: var(--color-primary-foreground);
  display: inline-block;
}

@supports (background-image: linear-gradient(#222b40, #222b40)) and (transition: all 2s linear) {
  @media (min-width: 768px) {
    a:not(.button),
    a:not(.button):link,
    a:not(.button):visited,
    a:not(.button).active,
    a:not(.button):active,
    a:not(.button):hover,
    a:not(.button):focus {
      background-image:
        linear-gradient(var(--color-primary-background), var(--color-primary-background)),
        linear-gradient(var(--color-primary-background), var(--color-primary-background)),
        linear-gradient(var(--color-hover-background), var(--color-hover-background));
      background-position:
        left top,
        right top,
        center top;
      background-size:
        100% 100%,
        50% 100%,
        100% 100%;
      background-repeat: no-repeat;
      transition:
        background-size 0.25s ease-in,
        color 0.25s ease-in;
    }

    a:not(.button).active,
    a:not(.button):active,
    a:not(.button):hover,
    a:not(.button):focus {
      background-size: 0 100%,
      0 100%,
      100% 100%;
    }
  }
}
