/**
 * Buttons, Links, and other interactive Elements
 *
 * @package KleiderOrdnung
 * @author openmindculture
 */

.button {
  font-family: var(--font-family-default);
  font-weight: 700;
  font-size: var(--font-size-13);
  line-height: 0.875rem;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  border-radius: 1.875rem;
  padding: 1rem 1.5rem;
}

.button--primary,
.button--primary a,
.button--primary a:link,
.button--primary a:visited {
  background-color: var(--color-blue-dark-purpleish);
  color: var(--color-default-white);
  display: inline-block;
}

a:not(.button):hover,
a:not(.button):focus {
  background-color: var(--color-hover-background);
  border: none;
  outline: none;
}

.button--primary:hover,
.button--primary:focus {
  color: var(--color-hover-background);
}

.button--primary:focus {
  outline: solid 3px var(--color-hover-background);
}

@supports (background-image: linear-gradient(#222b40, #222b40)) and (transition: all 2s linear) {
  @media (min-width: 768px) {
    a:not(.button),
    a:not(.button):link,
    a:not(.button):visited,
    a:not(.button):active,
    a:not(.button):hover,
    a:not(.button):focus {
      background-image: linear-gradient(var(--color-primary-background), var(--color-primary-background)),
      linear-gradient(var(--color-primary-background), var(--color-primary-background)),
      linear-gradient(var(--color-hover-background), var(--color-hover-background));
      background-position: left top,
      right top,
      left top;
      background-size: 100% 100%,
      50% 100%,
      100% 100%;
      background-repeat: no-repeat;
      transition: background-size 0.25s ease-in,
      color 0.25s ease-in;
    }

    a:not(.button):hover,
    a:not(.button):focus {
      background-size: 0 100%,
      0 100%,
      100% 100%;
    }

    .has-secondary-background a:not(.button),
    .has-secondary-background a:not(.button):link,
    .has-secondary-background a:not(.button):visited,
    .has-secondary-background a:not(.button):active,
    .has-secondary-background a:not(.button):hover,
    .has-secondary-background a:not(.button):focus {
      background-image: linear-gradient(var(--color-secondary-background), var(--color-secondary-background)),
      linear-gradient(var(--color-secondary-background), var(--color-secondary-background)),
      linear-gradient(var(--color-hover-background), var(--color-hover-background));
    }
  }
}
