/**
 * Buttons, Links, and other interactive Elements
 *
 * @package KleiderOrdnung
 * @author openmindculture
 */

.button {
  font-family: var(--font-family-default);
  font-weight: 700;
  font-size: var(--font-size-13);
  line-height: 0.875rem;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  border-radius: 1.875rem;
  padding: 1rem 1.5rem;
}

.button--primary,
.button--primary a,
.button--primary a:link,
.button--primary a:visited {
  background-color: var(--color-blue-dark-purpleish);
  color: var(--color-default-white);
}
