/**
 * Generic Page Styles
 *
 * for regular WordPress pages handled by page.php
 *
 * @package KleiderOrdnung
 * @author openmindculture
 */

body.archive main,
body.archive > section,
body.search main,
body.search > section {
  width: var(--width-full);
  max-width: var(--width-max);
  margin-left: auto;
  margin-right: auto;
  min-height: unset;
}

body.page:not(.home) main {
  width: var(--width-spaced);
  max-width: var(--width-max);
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 7rem;
}

/* generic styles for archive, single, error, and fallback documents */
.page__main__section {
  width: var(--width-spaced);
  max-width: var(--width-max);
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 7rem;
}

.page__main__entry {
  padding-top: 3rem;
  text-align: center;
}
