/**
 * Generic Post Styles
 *
 * for regular WordPress pages handled by page.php
 *
 * @package KleiderOrdnung
 * @author openmindculture
 */

body.post main {
  width: var(--width-spaced);
  max-width: var(--width-max);
  margin-left: auto;
  margin-right: auto;
}
