/**
 * Footer Section
 *
 * @package KleiderOrdnung
 * @author openmindculture
 */

.footer {
  margin: 0;
  padding: 0;
  background-color: var(--color-primary-background);
}

.footer__content {
  width: var(--width-full);
  max-width: var(--width-max);
  margin: 0 auto;
  padding: 3.875rem 0 3.5rem 0;
}

body.page:not(.home) .footer__content {
  width: var(--width-spaced-larger);
}

.footer a,
.footer a:link,
.footer a:visited {
  color: var(--color-primary-foreground);
  text-decoration: none;
}

@media (hover: none) {
  .footer a,
  .footer a:link,
  .footer a:visited {
    display: inline-block;
    padding: 1rem 1rem 1.5rem 0;
  }
}

@mixin layout-column-wrapper .footer__columns__column-wrapper {}

@mixin layout-column-50 .footer__columns__column--50 {}

.footer__columns__column + .footer__columns__column {
  margin-top: 1.75rem;
}

.footer__column__row {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.footer__column__row__allrights {
  /* display: block; */
}

.footer__column__row__softhyphen {
  display: none;
}

.footer__partners {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

body.page:not(.home) .footer__partners {
  text-align: right;
}

.footer__partners img {
  width: auto;
  height: 3.5rem;
}

@media (min-width: 768px) {
  .footer__partners {
    margin-top: 0;
    margin-bottom: 0;
  }
  body.page:not(.home) .footer__partners {
    text-align: right;
  }
  .footer__partners img {
    width: initial;
    height: auto;
  }
}

@media (min-width: 1313px) {
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  .footer__columns__column-wrapper {
    flex-direction: row;
  }
  .footer__columns__column--50:first-child {
    flex: 0 0 32rem;
  }
  .footer__columns__column--50:last-child {
    flex: 1 0 42.5rem;
  }
  .footer__column__row {
    display: block;
  }

  .footer__column__row--legal {
    margin-bottom: 1rem;
  }

  .footer__column__row__softhyphen {
    display: inline;
  }
  .footer__column__row__softhyphen::after {
    content: " ";
    display: block;
  }
}

@media (min-width: 1235px) {
  body.page.home .footer__columns__column--50:last-child {
    max-width: 56%;
  }
  .footer__columns__column + .footer__columns__column {
    margin-top: 0;
  }
  .footer__partners a + a {
    margin-left: 1rem;
  }
}

@media (min-width: 1440px) {
  .footer__columns__column + .footer__columns__column {
    margin-top: 0;
  }
  .footer__column__row__allrights {
    display: inline;
  }
  .footer__columns__column--50:first-child,
  .footer__columns__column--50:last-child {
    flex: 0 0 calc(50% - 0.5rem);
  }
}

.footer__ecofriendly {
  max-width: calc(100% - 1rem);
  display: none; /* initially hidden but ready for detail view */
}

.footer__ecofriendly--open,
.footer__ecofriendly:target {
  display: block;
}

/* adjust padding inside external logo for better visual alignment */
.footer__ecofriendly__detail--greenhosting img {
  display: block; /* prevent descenders margin below image */
  margin-left: -0.25rem;
}

/* override default websitecarbon badge colors and font family */
#wcb.carbonbadge {
  --b2: var(--color-border-carbonbadge) !important;
}

.footer__ecofriendly #wcb_g {
  border-color: var(--color-border-carbonbadge);
}

.footer__ecofriendly #wcb.carbonbadge {
  text-align: left;
  margin-bottom: 1rem;
}

.footer__ecofriendly #wcb_a,
.footer__ecofriendly #wcb_b {
  border-radius: 0;
}

.footer__ecofriendly #wcb_a {
  border-color: var(--color-primary-foreground);
}

@mixin typography-copy #wcb #wcb_2 {
  font-family: var(--font-family-default) !important;
}

@mixin typography-copy #wcb #wcb_g {
  font-family: var(--font-family-default) !important;
}
