/**
 * Footer Section
 *
 * @package KleiderOrdnung
 * @author openmindculture
 */

.footer {
  width: var(--width-full);
  max-width: var(--width-max);
  margin: 0 auto;
  padding: 3.875rem 0 3.5rem 0;
}

@mixin layout-column-wrapper .footer__columns__column-wrapper {}

@mixin layout-column-50 .footer__columns__column--50 {}

@media (min-width: 768px) {
  .footer__columns__column-wrapper {
    flex-direction: row;
  }
  .footer__columns__column--50:first-child {
    flex-basis: 23.125rem;
    flex-shrink: 1;
  }
  .footer__columns__column--50:last-child {
    flex-basis: 23.125rem;
    flex-grow: 1;
  }
}

.footer__column__row {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.footer__column__row__softhyphen {
  display: none;
}

@media (min-width: 992px) {
  .footer__columns__column--50,
  .footer__columns__column--50:first-child,
  .footer__columns__column--50:last-child {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc(50% - 0.5rem);
    max-width: 50%;
  }

  /* TODO adjust individual columns */
  /* seemingly like the contact columns above,
   * the left one is a little broader,
   * and while the cut is exactly in the middle,
   * due to the smaller left column this has still
   * some aspect of a "golden ratio"
   */

  .footer__column__row {
    display: block;
  }

  .footer__column__row__softhyphen {
    display: inline;
  }
}
