/**
 * Header
 * Layout, sticky behavior
 * (see navigation for main navigation inside header)
 *
 * @package KleiderOrdnung
 * @author openmindculture
 */

.header--site-header {
  height: auto;
  margin: 0;
  top: -1px;
  position: fixed;
  position: sticky;
  background: var(--color-primary-background);
  z-index: 10;
  opacity: 1;
  transition: padding-bottom 2s 0.25s ease-in;
}

/* Don’t Headbutt The Browser Window by Chris Coyer
/* https://css-tricks.com/hash-tag-links-padding/ */
/* http://darktef.github.io/posts/2017-03-offset-html-anchors-for-fixed-header-with-css */
.target-offset {
  pointer-events: none; /* prevent disabling interactive elements in previous section */
}
.target-offset > * {
  pointer-events: all;
}
.target-offset::before,
:target::before {
  display: block;
  content: " ";
  height: var(--header-height);
  margin-top: var(--header-height-negative);
  margin-top: calc(-1 * var(--header-height));
  visibility: hidden;
  pointer-events: none;
}

@media (max-width: 555px) {
  .target-offset::before,
  :target::before {
    height: var(--header-height-mobile);
    margin-top: var(--header-height-mobile-negative);
    margin-top: calc(-1 * var(--header-height-mobile));
  }
}

.header--site-header.stuck ~ .target-offset::before {
  height: var(--header-height-stuck);
  margin-top: var(--header-height-negative);
  margin-top: calc(-1 * var(--header-height-stuck));
}

.header__sticker {
  background-color: var(--color-dark-red-pinkish);
  color: var(--color-pink-pastel-salmon);
  border: solid 4px var(--color-purple-sticker);
  border-radius: 0.5rem;
  box-shadow: var(--effect-box-shadow-dropshadow);
  position: absolute;
  top: 6rem;
  right: 1rem;
  padding: 0;
  z-index: 12;
  transform: rotate(20deg);

  a, a:link, a:visited, a:active {
    display: inline-block;
    padding: 1rem;
    background: transparent;
    background-image: none;
    background-color: var(--color-pink-pastel-salmon);
    color: var(--color-purple-sticker);
    border-radius: 0.5rem;
    font-weight: bold;
    text-decoration: none;
  }

  a span {
    font-size: 1.75rem;
    text-shadow:
      2px 2px 2px var(--color-default-white),
      -2px 2px 2px var(--color-default-white),
      2px -2px 2px var(--color-default-white),
      -2px -2px 2px var(--color-default-white);
  }
}

.header__contentwrapper { /* wrapper around logo, navigation, and navigation toggle buttons */
  display: flex;
  max-width: calc(100% - 1rem);
  width: 64rem; /* 1024px; */
  margin: 0 auto;
  padding: 1.25rem;
}

.header__contentwrapper .header__site-logo {
  flex-grow: 1;
  margin: 0;
  padding: 0;
  text-align: left;
  z-index: 10;
}

.header__contentwrapper .header__site-logo a {
  display: inline-block;
  margin: 0;
}

.header__contentwrapper .header__site-logo,
.header__contentwrapper .header__site-logo a,
.header__contentwrapper .header__site-logo a:link,
.header__contentwrapper .header__site-logo a:visited,
.header__contentwrapper .header__site-logo__image {
  color: var(--color-primary-foreground);
}

.header__contentwrapper .header__site-logo__image {
  display: inline-block;
  width: 12.5rem;
  height: auto;
  margin: 0;
  padding: 0;
}

.menu-item-animation-toggle {
  padding-top: 0.75rem;
}

.animation-toggle {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background-color: transparent;
  color: #ffffff;
  cursor: pointer;
  border: none;
  padding: 0;
  margin: 0 0 0 0.25rem;
}

/* sticky navigation fallback for mobile Safari < 13 */
@supports (-webkit-marquee-repetition:infinite) and (object-fit:fill) {
  .header--site-header {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  @media (max-width: 767.767px) {
    .header--site-header {
      position: fixed;
      height: 3rem;
    }
    .navigation--main-navigation {
      position: fixed;
    }
    main {
      margin-top: 3rem;
    }
  }
  @media (min-width: 768px) {
    .navigation__list {
      flex-wrap: nowrap !important;
    }
    .header--site-header {
      height: 6rem;
    }
    main {
      margin-top: 5rem;
    }
  }
}

@media (min-width: 768px) {
  .animation-toggle {
    color: var(--color-primary-foreground);
  }
  .header--site-header {
    opacity: 0.96;
  }
  .header__contentwrapper {
    padding: 1.5rem 3.125rem 1.5rem 3.125rem;
    transition: padding 0.5s ease;
  }
  .header__contentwrapper .header__site-logo {
    padding: 0.5625rem 0 0 0.25rem;
    float: left;
  }
  .header__contentwrapper .header__site-logo__image {
    width: 16.8125rem;
  }

  .navigation__list li {
    transition: margin 0.5s ease;
  }

  /* more compact sticky header navigation when scrolling down */
  .header--site-header.stuck .header__contentwrapper {
    padding-top: 0.25rem;
    padding-bottom: 0;
  }

  .header--site-header.stuck .navigation__list li,
  .header--site-header.stuck .navigation__list li + li {
    margin-bottom: 0.5rem;
  }
}

/* Internet Explorer 11 / 10 workarounds */
@media screen and (min-width: 768px) and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .header__contentwrapper .header__site-logo__image,
  .header__contentwrapper .header__site-logo__image svg {
    width: 269px;
    height: 37px;
  }
  .header--site-header {
    width: 100%;
  }
}
