/**
 * Header
 * Layout, sticky behavior
 * (see navigation for main navigation inside header)
 *
 * @package KleiderOrdnung
 * @author openmindculture
 */

/* TODO verify and adapt sticky header wrapper styles and behavior, add optional JavaScript observer */
.header--site-header {
  height: auto;
  margin: 0;
  top: -1px;
  position: sticky;
  background: var(--color-primary-background);
  z-index: 10;
  opacity: 1;
  transition: padding-bottom 2s 0.25s ease-in;
}

.header--site-header.stuck {
  /* padding-bottom: 0.5em; */
}

/* Don’t Headbutt The Browser Window by Chris Coyer
/* https://css-tricks.com/hash-tag-links-padding/ */
/* http://darktef.github.io/posts/2017-03-offset-html-anchors-for-fixed-header-with-css */
.target-offset::before,
:target::before {
  display: block;
  content: " ";
  /* TODO adjust defaults to actual height, considering responsive multi lines, navigation and shrinking stuck header */
  /* there are only two different heights for each viewport width */
  /* those will be updated on document load and/or when adjusting element sizes */
  /* TODO pseudo element offset height shows up correctly, but page scrolls below anyway still */
  height: var(--header-height);
  margin-top: var(--header-height-negative);
  margin-top: calc(-1 * var(--header-height));
  visibility: hidden;
  pointer-events: none;
}

.header--site-header.stuck ~ .target-offset::before {
  height: var(--header-height-stuck);
  margin-top: var(--header-height-negative);
  margin-top: calc(-1 * var(--header-height-stuck));
}

.header__contentwrapper { /* wrapper around logo, navigation, and navigation toggle buttons */
  display: flex;
  max-width: calc(100% - 1rem);
  width: 64rem; /* 1024px; */
  margin: 0 auto;
  padding: 1.25rem;
}

.header--site-header.stuck .header__contentwrapper {
  padding-bottom: 0;
}

.header__contentwrapper .header__site-logo {
  flex-grow: 1;
  padding: 0;
  text-align: left;
  z-index: 10;
}

.header__contentwrapper .header__site-logo,
.header__contentwrapper .header__site-logo svg {
  color: var(--color-primary-foreground);
}

.header__contentwrapper .header__site-logo svg {
  width: 8.4375rem;
  height: auto;
}

@media (min-width: 768px) {
  .header--site-header {
    opacity: 0.96;
  }
  .header__contentwrapper {
    padding: 1.5rem 3.125rem 1.5rem 3.125rem;
  }
  .header__contentwrapper .header__site-logo {
    padding: 0.5625rem 0 0 0.25rem;
  }
  .header__contentwrapper .header__site-logo svg {
    width: 16.8125rem;
  }
}
