/**
 * Header
 * Layout, sticky behavior
 * (see navigation for main navigation inside header)
 *
 * @package KleiderOrdnung
 * @author openmindculture
 */

/* TODO verify and adapt sticky header wrapper styles and behavior, add optional JavaScript observer */
.header {
  height: auto;
  margin: 0;
  top: -1px;
  position: sticky;
  background: var(--color-default-white);
  padding: 1em;
  padding-bottom: 1em;
  z-index: 10;
  opacity: 0.96;
  transition: padding-bottom 2s 0.25s ease-in;
}

.header.stuck {
  padding-bottom: 0.5em;
}

/* Don’t Headbutt The Browser Window by Chris Coyer
/* https://css-tricks.com/hash-tag-links-padding/ */
/* http://darktef.github.io/posts/2017-03-offset-html-anchors-for-fixed-header-with-css */
.target-offset::before,
:target::before {
  display: block;
  content: " ";
  /* TODO adjust defaults to actual height, considering responsive multi lines, navigation and shrinking stuck header */
  /* there are only two different heights for each viewport width */
  /* those will be updated on document load and/or when adjusting element sizes */
  /* TODO pseudo element offset height shows up correctly, but page scrolls below anyway still */
  height: 160px;
  height: var(--header-height);
  margin-top: -160px;
  margin-top: calc(-1 * var(--header-height));
  visibility: hidden;
  pointer-events: none;
}

.header.stuck ~ .target-offset::before {
  height: 160px;
  height: var(--header-height-stuck);
  margin-top: -160px;
  margin-top: calc(-1 * var(--header-height-stuck));
}

/** BEGIN ad-hoc main navigation menu styles */

.inside-header { /* wrapper around logo, navigation, and navigation toggle buttons */
  display: flex;
  max-width: calc(100% - 1rem);
  width: 1680px;
  margin: 0 auto;
}

.inside-header .site-logo {
  flex-grow: 1;
  padding: 0.5rem;
}

.inside-header .site-logo,
.inside-header .site-logo svg {
  color: var(--color-primary-foreground);
}
