/**
 * Intro Section
 * with Key Visual / Hero / Jumbotron Image Animation, Special Headline, Text Paragraph
 *
 * @package KleiderOrdnung
 * @author openmindculture
 */

.intro {
  text-align: center;
  margin: 0 auto 7.5rem auto;
  /* ensure to stay on top of subsequent special effects
   * (parallax scrolling decoration behind offers section)
   * while delibrately NOT setting an opaque background
   * so it looks more natural / organic in case it might overlap
   */
  position: relative;
  z-index: 1;
}

.intro__keytext {
  width: var(--width-spaced);
  max-width: var(--width-max);
  margin: 0 auto;
}

@mixin typography-heading-h1 .intro__keytext__headline {
  color: var(--color-primary-foreground);
}

@media (max-width: 768px) { /* mobile / tablet < 768px */
  @mixin typography-heading-h1-sm .intro__keytext__headline {}
}

@media (max-width: 768px) { /* smartphone < 555px */
  @mixin typography-heading-h1-xs .intro__keytext__headline {}
}

.intro__keyvisual {
  aspect-ratio: 2; /* 2 / 1 rounded from the fallback image size 1160 x 581 px */
  width: 90%;
  max-width: 1160px;
  height: auto;
  text-align: center;
  margin: 0 auto;
  position: relative;
}

/* try to ensure there is always visible text below
 * when viewing on a "normal" screen size
 * unless that make the key visual too small
 * TODO we might additionally adjust font size in smaller viewports
 * text defaults to 3 lines à 40px x 140% line height = 3 x 56px = 168px
 * header defaults to < 100px if its fits 1 line on a wide(r) screen
 * reserving about 15rem = 240px ensures at least 1 visible heading line in practice.
 * If we want at least about 400px height for the key visual,
 * we need at least 400px + 240px = 640px = 40rem height for this adjustment.
 */
@media (min-height: 640px) {
  .intro__keyvisual {
    max-height: calc(100vh - 15rem);
  }
}

.intro__keyvisual__mousetrap {
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: all;
  z-index: 2;
  inset: 0;
  cursor: default;
}

/* some more 2023 ad hoc styles */

.intro__keyvisual__animation {
  text-align: center;
  margin: 0 auto;
}

.intro__keyvisual__animation--motionless-fallback {
  display: none;
}

/* TODO add feature detection for clients failing to activate Lottie player, like Safari 10.1 on MacOS Sierra */
@media (prefers-reduced-motion: reduce) {
  .intro__keyvisual__animation {
    display: none;
  }
  .intro__keyvisual__animation--motionless-fallback {
    display: block;
  }
}

body.no-webcomponents .intro__keyvisual__animation,
body.no-js .intro__keyvisual__animation {
  display: none;
}

body.no-webcomponents .intro__keyvisual__animation--motionless-fallback,
body.no-globalthis .intro__keyvisual__animation--motionless-fallback,
body.no-js .intro__keyvisual__animation--motionless-fallback {
  display: block;
}
