/**
 * Intro Section
 * with Key Visual / Hero / Jumbotron Image Animation, Special Headline, Text Paragraph
 *
 * @package KleiderOrdnung
 * @author openmindculture
 */

/* some more 2023 ad hoc styles */
html, body, main, p {
  text-align: center; /* TODO verify and move to a more appropriate place */
}
.intro__keyvisual__animation {
  text-align: center;
  margin: 0 auto;
  max-width: 1160px;
}

intro__keyvisual__animation--motionless-fallback {
  display: none;
}

/* TODO add feature detection for clients failing to activate Lottie player */
@media (prefers-reduced-motion: reduce) {
  .intro__keyvisual__animation {
    display: none;
  }
  .intro__keyvisual__animation--motionless-fallback {
    display: block;
  }
}

body.no-webcomponents .intro__keyvisual__animation,
body.no-js .intro__keyvisual__animation {
  display: none;
}

body.no-webcomponents .intro__keyvisual__animation--motionless-fallback,
body.no-js .intro__keyvisual__animation--motionless-fallback {
  display: block;
}
