/**
 * Mission Section
 *
 * @package KleiderOrdnung
 * @author openmindculture
 */

.mission__card {
  width: var(--width-spaced);
  max-width: var(--width-max);
  background-color: var(--color-primary-foreground);
  color: var(--color-primary-background);
  margin: 0 1.25rem 0 1.25rem;
  padding: 3.5rem 1.5rem;
  text-align: center;
}

.mission__headline {
  font-family: var(--font-family-heading);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-24);
  font-style: normal;
  letter-spacing: 0;
  line-height: 160%;
  margin: 0 0 2rem 0;
  text-align: center;
  text-transform: none;
}

.mission__text,
.mission__text p {
  font-family: var(--font-family-heading);
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-20);
  line-height: 1.6;
  letter-spacing: 0.07em;
  text-align: center;
}

@media (min-width: 768px) {
  .mission {
    max-width: calc(100% - 1rem);
  }
  .mission__card {
    padding: 5rem;
    margin: 0 auto;
  }
  .mission__text,
  .mission__text p {
    font-size: var(--font-size-24);
    letter-spacing: 0.07em;
  }
}


