/**
 * Mission Section
 *
 * @package KleiderOrdnung
 * @author openmindculture
 */


.mission {

}

.mission,
.mission__layer--content {
  position: relative;
}

.mission__layer--content {
  z-index: 2;
}

.mission__layer--decoration {
  z-index: 1;
  top: 0;
  height: 100%;
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.mission__card {
  width: var(--width-spaced);
  max-width: var(--width-max);
  margin: 0 auto;
  background-color: var(--color-primary-foreground);
  color: var(--color-primary-background);
  padding: 7.3125rem 5rem 5rem 5rem;
  text-align: center;
}

.mission__text {
  font-family: var(--font-family-heading);
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-24);
  line-height: 1.6;
  letter-spacing: 0.07em;
  text-align: center;
}
