/**
 * Main Navigation
 *
 * @package KleiderOrdnung
 * @author openmindculture
 */

.navigation--main-navigation {
  position: absolute;
  right: 0;
  z-index: 1;
  background-color: var(--color-primary-background);
}

@media (min-width: 768px) {
  .navigation--main-navigation {
    position: static;
  }
}

.navigation__list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 1.5rem;
  padding-inline-start: 1.5rem;
  list-style: none;
  align-items: flex-start;
}

.navigation__list-wrapper--main a:not(.button) {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  font-size: var(--font-size-13);
}
.navigation__list-wrapper--main a:not(.button):link,
.navigation__list-wrapper--main a:not(.button):visited {
  color: var(--color-primary-foreground);
}

.navigation__toggle--close {
  display: block;
  padding: 0 1rem 0 0;
  text-align: right;
}

.navigation__toggle--open {
  padding: 0 1.5rem 0 0 ;
  margin-top: 0.25rem;
  color: var(--color-primary-foreground);
}

/* Mobile navigation initially hidden, opened / closed by button links */
.navigation__toggle--open.navigation__menu-opened,
.navigation__toggle--open.active {
  visibility: hidden;
}

.navigation__list-wrapper--main {
  display: none;
}

.navigation__list-wrapper--main.navigation__menu-opened,
.navigation__list-wrapper--main:target {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 11;
  background-color: var(--color-primary-background);
}

/* Tablet / Desktop width with always open horizontal menu bar: */
@media (min-width: 768px) {
  .navigation__list-wrapper--main {
    display: block;
  }

  .navigation__toggle {
    display: none;
  }

  .navigation__list {
    flex-direction: row;
  }

  .navigation__list-wrapper--main a:not(.button) {
    padding-top: 0.75rem;
  }
}
