/**
 * Main Navigation
 *
 * @package KleiderOrdnung
 * @author openmindculture
 */

.navigation--main-navigation {
  position: absolute;
  right: 0;
  z-index: 11;
  background-color: var(--color-primary-background);
}

.navigation__list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding-top: 2rem;
  padding-left: 1.5rem;
  list-style: none;
  align-items: flex-start;
  margin: 0.5rem 0 0 0;
  background-color: var(--color-primary-foreground); /* mobile inverted colors */
  height: 100%;
  overflow-y: auto;
}

.navigation__list li {
  margin: 1rem 0 1rem 0;
  text-align: center;
  width: 100%;
}

/* inverted colors inside mobile navigation wrapper */
.navigation__list-wrapper--main a.button {
  background-color: var(--color-inverted-background);
  display: inline-block;
  font-size: 1rem;
}

.navigation__list-wrapper--main a.button:hover,
.navigation__list-wrapper--main a.button:focus {
  background-color: var(--color-hover-background-contrast);
}

.navigation__list-wrapper--main a:not(.button) {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1rem;
}

/* inverted colors inside mobile navigation wrapper */
.navigation__list-wrapper--main a:not(.button):not(.navigation__toggle):link,
.navigation__list-wrapper--main a:not(.button):not(.navigation__toggle):visited {
  background-color: var(--color-inverted-background);
  color: var(--color-primary-background);
}

.navigation__toggle--close {
  display: block;
  margin: 0 1rem 0 0;
  padding: 0;
  text-align: right;
  pointer-events: all;
}

.navigation__toggle--open {
  display: block;
  width: 1.325rem;
  height: 1.325rem;
  margin: 0.125rem 1rem 0 0;
  padding: 0;
  color: var(--color-primary-foreground);
  pointer-events: all;
}

.navigation__toggle--open svg {
  display: block;
  width: 1.325rem;
  height: 1.325rem;
  margin: 0;
  padding: 0;
}

/* Mobile navigation initially hidden, opened / closed by button links */
.navigation__toggle--open.navigation__menu-opened,
.navigation__toggle--open.active {
  visibility: hidden;
}

.navigation__list-wrapper--main {
  display: none;
}

.navigation__list-wrapper--main.navigation__menu-opened,
.navigation__list-wrapper--main:target {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 11;
  pointer-events: all;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: var(--color-primary-background);
}

.navigation__list-wrapper--main.navigation__menu-opened .navigation__list li.menu-item-language,
.navigation__list-wrapper--main:target .navigation__list li.menu-item-language {
  /* backslash between DE / EN */
  color: var(--color-primary-background);
  font-size: var(--font-size-16);
  line-height: 140%;
  height: 1.4rem;
}

/* default polylang language switcher with additional nested list and missing slash */
.navigation__list li.menu-item-language ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.navigation__list li.menu-item-language ul li {
  display: inline-block;
  width: auto;
}

.navigation__list li.menu-item-language ul li:not(:first-child) a::before {
  content: "/";
  font-size: var(--font-size-16);
  line-height: 140%;
  height: 1.4rem;
}

/* intermediate breakpoint: mobile menu no longer full width: */
@media (min-width: 555px) {
  .navigation__list-wrapper--main.navigation__menu-opened,
  .navigation__list-wrapper--main:target {
    width: auto;
    height: auto;
  }
  .navigation__list {
    margin: 0.5rem 0 0 0;
    padding: 2rem 2rem 0 2rem;
    height: auto;
  }
}

/* Tablet / Desktop width with always open horizontal menu bar: */
@media (min-width: 768px) {
  .navigation--main-navigation {
    position: static;
  }

  .navigation__list-wrapper--main {
    display: block;
  }

  .navigation__toggle {
    display: none;
  }

  .navigation__list {
    flex-direction: row;
    padding-top: 0;
    margin: 0;
    background-color: var(--color-primary-background);
  }

  .navigation__list li {
    margin: 0;
    text-align: left;
    width: auto;
    float: left;
  }

  .navigation__list li + li {
    margin-left: 0.5rem;
  }

  .navigation__list li:not(.menu-item--has-button) {
    padding-top: 1rem;
  }

  .navigation__list li.menu-item-language ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .navigation__list li.menu-item-language ul li {
    margin: 0;
    padding: 0;
  }

  .navigation__list-wrapper--main a.button {
    margin-top: 0.5rem;
    margin-left: 0.25rem;
    margin-right: 0.5rem;
    font-size: var(--font-size-13);
  }

  .navigation__list-wrapper--main a:not(.button),
  .navigation__list-wrapper--main a:not(.button):link,
  .navigation__list-wrapper--main a:not(.button):visited {
    padding: 0.5rem 0 0.25rem 0;
    margin: 0.25rem 0.75rem 0.5rem 0;
    font-size: var(--font-size-13);
    background-position-y: 90%,90%,90%;
    background-size: 100% 40%,50% 40%,100% 40%;
    background-color: transparent !important;
    border-radius: 0;
    transition:
      background-size 0.125s ease-in,
      color 0.125s ease-in;
  }

  .navigation__list-wrapper--main a:not(.button).active,
  .navigation__list-wrapper--main a:not(.button):active,
  .navigation__list-wrapper--main a:not(.button):hover,
  .navigation__list-wrapper--main a:not(.button):focus {
    background-size: 0 40%,0 40%,100% 40%;
  }

  .navigation__list-wrapper--main a:not(.button).active:focus {
    background-size: 0 100%,0 100%,100% 100%;
  }

  .navigation__list-wrapper--main .menu-item-language a:not(.button):not(.navigation__toggle)  {
    margin-right: 0;
  }

  .navigation__list-wrapper--main.navigation__menu-opened,
  .navigation__list-wrapper--main:target {
    position: static;
  }

  .navigation__list-wrapper--main a:not(.button):not(.navigation__toggle):link,
  .navigation__list-wrapper--main a:not(.button):not(.navigation__toggle):visited {
    color: var(--color-primary-foreground);
  }
}

@media (min-width: 992px) {
  .navigation__list {
    flex-wrap: nowrap;
  }
}
