/**
 * News Section
 *
 * @package KleiderOrdnung
 * @author openmindculture
 */

.news {
  width: var(--width-full);
  max-width: var(--width-max);
  margin: 0 auto 7rem auto;
}

@mixin typography-heading-h2 .news__headline {
  text-align: left;
}

.news__wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}

.news__post {
  float: left;
  display: flex;
  flex-direction: column;
  flex: 0 0 27.5rem;
  width: 100%;
  max-width: min(100%, 27.5rem);
  height: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
  background-color: var(--color-secondary-background);
}

a.news__post__link,
a.news__post__link:link,
a.news__post__link:visited,
a.news__post__link:active,
a.news__post__link:hover {
  display: block;
  margin: 0;
  padding: 0;
  text-decoration: none;
  background-color: var(--color-secondary-background);
  color: var(--color-primary-foreground);
  background-image:
    linear-gradient(var(--color-secondary-background), var(--color-secondary-background)),
    linear-gradient(var(--color-secondary-background), var(--color-secondary-background)),
    linear-gradient(var(--color-hover-background), var(--color-hover-background));
}

.news__post + .news__post {
  margin-bottom: 2.5rem;
}

@media (min-width: 555px) {
  .news {
    margin: 0 auto 14.25rem auto;
  }
  .news__wrapper {
    flex-wrap: nowrap;
    display: grid;
    grid-template-columns: 30% 30% 30%;
  }
}

@media (min-width: 1440px) {
  .news__post {
    max-width: unset;
  }
  .news__post + .news__post {
    margin-left: 2.5rem;
  }
}

@supports (gap: 2.5rem) {
  .news__post + .news__post {
    margin-top:0;
    margin-left: 0;
  }
  .news__wrapper {
    gap: 1.75rem;
  }
  @media (min-width: 1440px) {
    .news__wrapper {
      gap: 2.5rem;
    }
  }
}

.news__post__image {
  aspect-ratio: 220/124;
  object-fit: cover;
  overflow: hidden;
  max-width: 100%;
  margin: 0;
  padding: 0;
}

.news__post__content {
  padding: 0.5rem 2rem 0.5rem 2rem;
  min-height: 10.5rem;
}

.news__post__title {
  text-align: center;
  margin-bottom: 0.75rem; /* larger than figma on purpose to compensate for font family */
  font-family: var(--font-family-henderson);
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-12);
  line-height: 1.6;
  letter-spacing: 0.05em;
  font-style: normal;
  text-transform: uppercase;
}

.news__post__text {
  text-align: center;
  font-family: var(--font-family-ivymode);
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-20);
  line-height: 140%;
  letter-spacing: 0.0625rem;
  font-style: normal;
}

.news__footer {
  display: block;
  text-align: right;
  margin-top: 2.8125rem;
}

.news--is-teaser .news__footer {
  display: none;
}

.news__link--more,
.news__link--more:link,
.news__link--more:visited,
.news__link--more:active,
.news__link--more:hover {
  font-size: var(--font-size-15);
  line-height: 1.6;
  text-decoration: none;
  color: var(--color-primary-foreground);
}
