/**
 * Offers Section with Sinlge Offer Articles
 * - main offers section
 * - further offers section
 * - decoration background, possibly overflowing behind subsequent content
 *
 * @package KleiderOrdnung
 * @author openmindculture
 */

.offers {
  width: var(--width-full);
  max-width: var(--width-max);
  margin-left: auto;
  margin-right: auto;
}

.offers__headline {
  font-family: var(--font-family-heading);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-24);
  font-style: normal;
  letter-spacing: 0;
  line-height: 160%;
  margin: 0 0 2rem 0;
  text-align: center;
  text-transform: none;
}

.offers__cards {
  margin: 0 0 8.87rem 0;
  clear: left;
}

.offers__additional {
  margin-bottom: 8.87rem;
}

@mixin typography-heading-h2 .offers__additional__headline {
  margin-top: 0;
  margin-bottom: 5.25rem;
}

.offers__navigation ul {
  list-style: none;
  margin: 0 auto 3.25rem auto;
  padding: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 100%;
}

.offers__navigation ul li {
  text-align: left;
  margin-bottom: 1rem;
}

@media (min-width: 992px) {
.offers__navigation ul {
  flex-direction: row;
}
.offers__navigation ul li {
  float: left;
  margin-right: 2rem;
}
@supports (gap: 2rem) {
  .offers__navigation ul {
    row-gap: 2rem;
  }
  .offers__navigation ul li {
    margin-bottom: 0;
  }
}
}

@mixin typography-button-label .offers__navigation ul a {
  text-decoration: none;
  text-transform: uppercase;
}

@media (min-width: 992px) {
  .offers__navigation ul a {
    white-space: nowrap;
  }
}

/* to make it look more natural / organic if the background intersects */
/* start with a transparent link background ... */
.offers__navigation ul a:link,
.offers__navigation ul a:visited {
  background-image:
    linear-gradient(transparent, transparent),
    linear-gradient(transparent, transparent),
    linear-gradient(var(--color-hover-background), var(--color-hover-background));
  background-position:
    left top,
    right top,
    center top;
  background-size:
    100% 100%,
    50% 100%,
    0% 100%;
  transition:
    background-size 0.25s ease-in,
    background-position 0.25s ease-in,
    color 0.25s ease-in;
}

.offers__navigation ul a:link,
.offers__navigation ul a:visited,
.offers__navigation ul a:active,
.offers__navigation ul a:hover,
.offers__navigation ul a:focus {
  color: var(--color-primary-foreground);
  text-decoration: none;
}

.offers__offer {
  position: relative;
  margin-bottom: 2rem;
  max-width: 100%;
  background-color: transparent;
}

body.single .offers__offer {
  justify-content: space-around;
}

.offers__offer__card {
  padding: 2rem 1.5rem 2rem 1.5rem;
  background-color: var(--color-secondary-background);
}

/* mobile-first width starting with 1 column images above cards */
.offers__offer__image,
.offers__offer__card {
  width: 100%;
  max-width: 100%;
}

.offers__offer__image {
  margin: 0;
}

/* overlapping 2 columns layout */
@media (min-width: 992px) {
  .offers__offer {
    position: relative;
    display: flex;
  }
  .offers__offer--has-no-image {
    justify-content: space-around;
  }
  .offers__offer__image {
    width: 44%;
    position: absolute;
    top: 0;
    right: 3.5rem;
  }
  .offers__offer__card {
    width: 60%;
    position: relative;
    left: 0;
    top: 3.5rem;
    margin-bottom: 3.5rem;
    padding: 3.5rem;
  }
}

@media (min-width: 1440px) {
  .offers__offer__image {
    width: 35rem; /* native 1x image file size 560px */
  }
  .offers__offer__card {
    width: 50rem; /* according to figma designs */
  }
}

.offers__offer:nth-child(even) .offers__offer__image {
  left: 3.5rem;
  right: auto;
}

.offers__offer:nth-child(even) .offers__offer__card {
  left: auto;
  margin-left: auto;
  right: 0;
}

@mixin typography-heading-h3 .offers__offer__headline {
  margin-top: 0;
  max-width: calc(100% - 2.5rem);
  word-wrap: break-word;
}

.offers__offer__paragraph {
  margin-bottom: 2rem;
}

.offers__offer__features__headline + p,
.offers__offer__paragraph + p {
  margin-bottom: 2rem;
}

.offers__offer ul, /* generic to simplify WYSIWYG editing */
.offers__offer__features__list {
  text-align: left;
  list-style-type: image;
  list-style-image: url("data:image/svg+xml,%3Csvg width='10' height='10' viewBox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5 10L10 5L5 0L0 5L5 10Z' fill='%230014D1'/%3E%3C/svg%3E");
  margin-bottom: 2rem;
  padding-left: 1rem;
}

/* stylelint-disable no-descending-specificity */
.offers__offer ul li,
.offers__offer__features__list li {
  padding-left: 1rem;
}

.offers__offer__card__footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.offers__offer__pricingwrapper {
  margin-bottom: 1.5rem;
}

.offers__offer__price {
  text-align: left;
  font-family: var(--font-family-heading);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-24);
  line-height: 1.5;
}

.offers__offer__price + ul,
.offers__offer__price__annotations {
  list-style: none;
  text-align: left;
  margin: 0;
  padding: 0;
}

.offers__offer__price + ul li {
  padding-left: 0;
}

.offers__offer__icon {
  float: right;
  width: 2rem;
  height: 2rem;
  color: var(--color-primary-foreground);
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin: 0 0 0 2rem;
}

@media (min-width: 992px) {
  .offers__offer__icon {
    width: 3.5625rem;
    height: 3.5625rem;
    margin-left: 3rem;
    margin-bottom: 3rem;
  }
  .offers__offer__card__footer {
    flex-direction: row;
  }
  .offers__offer__pricingwrapper {
    margin-bottom: 0;
  }
}

.offers__additional__articles {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  margin-bottom: 6.5rem;
}

@mixin typography-heading-h3 .offers__additional__articles__headline {
  margin: 0 auto 1rem auto;
}

.offers__additional__articles .offers__offer__icon {
  float: none;
  margin: 0 auto 3rem auto;
}

.offers__additional__articles__offer {
  flex: 1 0 100%;
  margin-bottom: 5rem;
}

@media (min-width: 992px) {
  .offers__additional__articles__offer {
    flex: 1 1 25%;
    margin-bottom: 0;
  }
  .offers__additional__articles__offer + .offers__additional__articles__offer {
    margin-left: 6.5rem;
  }
}

.offers__additional__articles .offers__offer__paragraph {
  margin-bottom: 1.5rem;
}

@mixin typography-copy .offers__additional__articles__price {
  text-align: center;
  font-weight: var(--font-weight-bold);
  letter-spacing: -0.5px;
}


/* icons based on navigation ID no matter if card offer or additional offer */

#angebote-style-visit .offers__offer__icon {
  background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' width='56' height='56' viewBox='0 0 56 56' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M7 4.75C7 3.09314 8.34315 1.75 10 1.75H46C47.6569 1.75 49 3.09315 49 4.75V47.75C49 49.4069 47.6569 50.75 46 50.75H10C8.34315 50.75 7 49.4069 7 47.75V4.75Z' stroke='%230014D1' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M10.5 50.75V54.25' stroke='%230014D1' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M45.5 50.75V54.25' stroke='%230014D1' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M28 50.75V1.75' stroke='%230014D1' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M21 25.375C21.4832 25.375 21.875 25.7668 21.875 26.25C21.875 26.7332 21.4832 27.125 21 27.125C20.5168 27.125 20.125 26.7332 20.125 26.25C20.125 25.7668 20.5168 25.375 21 25.375' stroke='%230014D1' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M35 25.375C35.4832 25.375 35.875 25.7668 35.875 26.25C35.875 26.7332 35.4832 27.125 35 27.125C34.5168 27.125 34.125 26.7332 34.125 26.25C34.125 25.7668 34.5168 25.375 35 25.375' stroke='%230014D1' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
}

#angebote-shopping-tour .offers__offer__icon {
  background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' width='57' height='56' viewBox='0 0 57 56' fill='none'%3E%3Cpath d='M22 54.8334H1.02002C1.02002 54.8334 1.02002 43.6081 1.02002 43.251C1.02002 43.251 0.974976 41.7351 1.02002 40.8336V19.033V16.3334H41.8333V19.033' stroke='%230014D1' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M30.5374 9.46637C29.7468 5.33694 26.1411 2.34659 21.9367 2.33337V2.33337C17.7542 2.35172 14.1652 5.31781 13.3594 9.42204' stroke='%230014D1' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M50.6359 32.7195H31.7242C30.7849 32.6812 29.9623 33.344 29.7999 34.2699L27.1199 52.9163C27.0918 53.434 27.2861 53.9391 27.6538 54.3046C28.0216 54.6701 28.5279 54.8612 29.0455 54.8299H53.3146C53.8321 54.8612 54.3383 54.6701 54.7058 54.3046C55.0734 53.939 55.2674 53.4339 55.2389 52.9163L52.5589 34.2699C52.3965 33.3445 51.5747 32.6819 50.6359 32.7195Z' stroke='%230014D1' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M46.0957 28.776C45.6417 26.4045 43.571 24.6872 41.1564 24.6796V24.6796C38.7544 24.6901 36.6932 26.3935 36.2305 28.7506' stroke='%230014D1' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
}

#angebote-online-styling-beratung .offers__offer__icon {
  background-image: url("data:image/svg+xml,%3Csvg width='56' height='56' viewBox='0 0 56 56' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M35 19.2734C37.8995 19.2734 40.25 16.9229 40.25 14.0234C40.25 11.1239 37.8995 8.77344 35 8.77344C32.1005 8.77344 29.75 11.1239 29.75 14.0234C29.75 16.9229 32.1005 19.2734 35 19.2734Z' stroke='%230014D1' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M35 21.0234C39.8325 21.0234 43.75 24.9409 43.75 29.7734' stroke='%230014D1' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M5.25 10.5234V5.27344C5.25 3.34044 6.817 1.77344 8.75 1.77344H50.75C52.683 1.77344 54.25 3.34044 54.25 5.27344V33.2734C54.25 35.2064 52.683 36.7734 50.75 36.7734H33.25' stroke='%230014D1' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M40.25 36.7734V43.7734' stroke='%230014D1' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M36.75 43.7734H45.5' stroke='%230014D1' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M1.75 54.2734C1.75 45.575 8.80152 38.5234 17.5 38.5234C26.1985 38.5234 33.25 45.575 33.25 54.2734' stroke='%230014D1' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M17.5 35.0234C22.8157 35.0234 27.125 30.7142 27.125 25.3984C27.125 20.0827 22.8157 15.7734 17.5 15.7734C12.1843 15.7734 7.875 20.0827 7.875 25.3984C7.875 30.7142 12.1843 35.0234 17.5 35.0234Z' stroke='%230014D1' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
}

#angebote-outfit-consulting .offers__offer__icon {
  background-image: url("data:image/svg+xml,%3Csvg width='56' height='56' viewBox='0 0 56 56' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M12.25 15.75C16.116 15.75 19.25 12.616 19.25 8.75C19.25 4.88401 16.116 1.75 12.25 1.75C8.38401 1.75 5.25 4.88401 5.25 8.75C5.25 12.616 8.38401 15.75 12.25 15.75Z' stroke='%230014D1' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M22.75 33.25V29.75C22.75 23.951 18.049 19.25 12.25 19.25C6.45101 19.25 1.75 23.951 1.75 29.75V36.75H5.25L7 54.25H17.5L19.075 38.5' stroke='%230014D1' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M29.75 29.75H50.75C52.683 29.75 54.25 28.183 54.25 26.25V5.25C54.25 3.317 52.683 1.75 50.75 1.75H26.25' stroke='%230014D1' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M47.25 22.75H29.75' stroke='%230014D1' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M30.9189 49C34.3017 49 37.0439 46.2577 37.0439 42.875C37.0439 39.4923 34.3017 36.75 30.9189 36.75C27.5362 36.75 24.7939 39.4923 24.7939 42.875C24.7939 46.2577 27.5362 49 30.9189 49Z' stroke='%230014D1' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M38.4997 54.2499C36.6071 52.0278 33.8352 50.7476 30.9163 50.7476C27.9975 50.7476 25.2256 52.0278 23.333 54.2499' stroke='%230014D1' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M46.6689 49C50.0517 49 52.7939 46.2577 52.7939 42.875C52.7939 39.4923 50.0517 36.75 46.6689 36.75C43.2862 36.75 40.5439 39.4923 40.5439 42.875C40.5439 46.2577 43.2862 49 46.6689 49Z' stroke='%230014D1' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M54.2497 54.2499C52.3571 52.0278 49.5852 50.7476 46.6663 50.7476C43.7475 50.7476 40.9756 52.0278 39.083 54.2499' stroke='%230014D1' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M43.75 22.75V8.75' stroke='%230014D1' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M36.75 22.75V14' stroke='%230014D1' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
}

#angebote-kleiderordnung .offers__offer__icon {
  background-image: url("data:image/svg+xml,%3Csvg width='56' height='56' viewBox='0 0 56 56' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M35 1.75C36.933 1.75 38.5 3.317 38.5 5.25C38.5 7.183 36.933 8.75 35 8.75V12.25' stroke='%230014D1' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M1.75 5.25H26.25' stroke='%230014D1' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M54.25 5.25H47.25' stroke='%230014D1' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M33.25 33.25H5.25C3.317 33.25 1.75 34.817 1.75 36.75V54.25H36.75V36.75C36.75 34.817 35.183 33.25 33.25 33.25Z' stroke='%230014D1' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M19.25 40.25V54.25' stroke='%230014D1' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M1.75 40.25H36.75' stroke='%230014D1' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M8.75 47.25H12.25' stroke='%230014D1' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M26.25 47.25H29.75' stroke='%230014D1' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M22.75 22.75C22.75 16.9517 28.2357 12.25 35 12.25C41.7643 12.25 47.25 16.9517 47.25 22.75H22.75Z' stroke='%230014D1' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
}

#angebote-styling-abo .offers__offer__icon {
  background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' width='56' height='56' viewBox='0 0 56 56' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M40.25 18.4811L38.444 11.6715C38.1863 10.7301 37.2972 10.0757 36.2833 10.0811H31.3413C31.3413 11.8526 29.8454 13.2888 28 13.2888C26.1546 13.2888 24.6587 11.8526 24.6587 10.0811H19.7167C18.7028 10.0757 17.8137 10.7301 17.556 11.6715L15.75 18.4811H21V26.8811H35V18.4811H40.25Z' stroke='%230014D1' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M17.5 52.0811H38.5' stroke='%230014D1' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M1.75 33.6011H54.25' stroke='%230014D1' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M1.75 4.68018C1.75 3.02332 3.09315 1.68018 4.75 1.68018H51.25C52.9069 1.68018 54.25 3.02332 54.25 4.68018V39.0002C54.25 40.657 52.9069 42.0002 51.25 42.0002H4.75C3.09315 42.0002 1.75 40.657 1.75 39.0002V4.68018Z' stroke='%230014D1' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M28 52.08V42' stroke='%230014D1' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
}

#angebote-meet-the-special-places .offers__offer__icon {
  background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' width='56' height='56' viewBox='0 0 56 56' fill='none'%3E%3Cpath d='M1.75 53.083H54.25' stroke='%230014D1' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M54.25 21.583H1.75' stroke='%230014D1' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M38.5 14.5832L30.8 4.3165C30.139 3.43518 29.1017 2.9165 28 2.9165C26.8983 2.9165 25.861 3.43518 25.2 4.3165L17.5 14.5832' stroke='%230014D1' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M17.5 46.0811V28.5811' stroke='%230014D1' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M17.5 28.5811H19.25C22.1495 28.5811 24.5 30.9316 24.5 33.8311C24.5 36.7305 22.1495 39.0811 19.25 39.0811H17.5' stroke='%230014D1' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M7 28.583C5.067 28.583 3.5 30.15 3.5 32.083V42.583C3.5 44.516 5.067 46.083 7 46.083C8.933 46.083 10.5 44.516 10.5 42.583V32.083C10.5 30.15 8.933 28.583 7 28.583Z' stroke='%230014D1' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M38.5 46.0811H35C33.067 46.0811 31.5 44.5141 31.5 42.5811V32.0811C31.5 30.1481 33.067 28.5811 35 28.5811H38.5' stroke='%230014D1' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M31.5 39.0811H38.5' stroke='%230014D1' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M45.5 46.0811V28.5811L52.5 46.0811V28.5811' stroke='%230014D1' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
}

#angebote-gutscheine .offers__offer__icon {
  background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' width='56' height='56' viewBox='0 0 56 56' fill='none'%3E%3Cpath d='M35 1.75C36.933 1.75 38.5 3.317 38.5 5.25C38.5 7.183 36.933 8.75 35 8.75V12.25' stroke='%230014D1' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M1.75 5.25H26.25' stroke='%230014D1' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M54.25 5.25H47.25' stroke='%230014D1' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M33.25 33.25H5.25C3.317 33.25 1.75 34.817 1.75 36.75V54.25H36.75V36.75C36.75 34.817 35.183 33.25 33.25 33.25Z' stroke='%230014D1' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M19.25 40.25V54.25' stroke='%230014D1' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M1.75 40.25H36.75' stroke='%230014D1' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M8.75 47.25H12.25' stroke='%230014D1' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M26.25 47.25H29.75' stroke='%230014D1' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M22.75 22.75C22.75 16.9517 28.2357 12.25 35 12.25C41.7643 12.25 47.25 16.9517 47.25 22.75H22.75Z' stroke='%230014D1' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
}

