/**
 * Offers Section with Sinlge Offer Articles
 * - main offers section
 * - further offers section
 *
 * @package KleiderOrdnung
 * @author openmindculture
 */

.offers {
  width: var(--width-full);
  max-width: var(--width-max);
  margin: 0 auto;
}

@mixin typography-heading-h2 .offers__headline {
  text-align: left;
}

.offers__navigation ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  max-width: 100%;
}

.offers__navigation ul li {
  text-align: left;
}

@media (min-width: 992px) {
  .offers__navigation ul {
    flex-direction: row;
  }
  .offers__navigation ul li + li {
    margin-left: 2rem;
  }
}

@mixin typography-button-label .offers__navigation ul a {
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
}

.offers__offer {
  position: relative;
  margin-bottom: 2rem;
  max-width: 100%;
}

.offers__offer__card {
  padding: 3.5rem; /* TODO why too much spacing to top? */
  background-color: var(--color-default-white);
}

/* mobile-first width starting with 1 column images above cards */
.offers__offer__image,
.offers__offer__card {
  width: 100%;
  max-width: 100%;
}

.offers__offer__image {
  margin: 0;
}

/* overlapping 2 columns layout */
@media (min-width: 992px) {
  .offers__offer {
    position: relative;
    display: flex;
  }
  .offers__offer__image {
    width: 44%;
    position: absolute;
    top: 0;
    right: 3.5rem;
  }
  .offers__offer__card {
    width: 60%;
    position: relative;
    left: 0;
    top: 3.5rem;
    margin-bottom: 3.5rem;
  }
}

@media (min-width: 1440px) {
  .offers__offer__image {
    width: 35rem; /* native 1x image file size 560px */
  }
  .offers__offer__card {
    width: 50rem; /* according to figma designs */
  }
}

.offers__offer:nth-child(even) .offers__offer__image {
  left: 3.5rem;
  right: auto;
}

.offers__offer:nth-child(even) .offers__offer__card {
  left: auto;
  margin-left: auto;
  right: 0;
}

.offers__offer__icon {
  float: right;
  color: var(--color-primary-foreground);
}

.offers__offer__headline {}
.offers__offer__paragraph {}
.offers__offer__features__headline {}

.offers__offer__features__list {
  text-align: left;
  list-style-type: image;
  list-style-image: url("data:image/svg+xml,%3Csvg width='10' height='10' viewBox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5 10L10 5L5 0L0 5L5 10Z' fill='%230014D1'/%3E%3C/svg%3E");
}

.offers__offer__price {
  text-align: left;
  font-family: var(--font-family-heading);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-24);
  line-height: 1.5;
}

.offers__offer__price__annotations {
  list-style: none;
  text-align: left;
}

.offers__additional__articles {
  display: flex;
  flex-wrap: wrap;
}

.offers__additional__articles__offer {
  flex: 1 0 100%;
}

@media (min-width: 992px) {
  .offers__additional__articles__offer {
    flex: 1 1 30%;
  }
}
