/**
 * Social Media Section
 *
 * @package KleiderOrdnung
 * @author openmindculture
 */

.socialmedia {
  /* space for following section's target offset negative top margin + 0.25rem spacer line */
  margin-bottom: 10.25rem;
  background-color: var(--color-primary-background);
}

.socialmedia__feed__section {
  position: relative;
}

.socialmedia__feed__container--juicer {}

.socialmedia__links__wrapper {
  width: var(--width-spaced);
  max-width: var(--width-max);
  margin: 0 auto 1.5rem auto;
}

.socialmedia__link {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
}

.socialmedia__link:link,
.socialmedia__link:visited,
.socialmedia__link:active {
  color: var(--color-primary-foreground);
}

.socialmedia a.socialmedia__link--instagram {
  padding: 0.125rem 1rem 0.125rem 0.125rem;
}

.socialmedia__icon {
  display: inline-block;
  width: 2.75rem;
  height: 2.75rem;
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border-radius: 1.375rem;
  margin: 0 1.5rem 0 0;
  padding: 0;
}

/* dark circle with light icon */
.socialmedia__icon--primary {
  background-color: var( --color-primary-foreground);
  color: var(--color-default-white);
}

.socialmedia__icon--primary--instagram {
  background-image: url("data:image/svg+xml,%3Csvg width='44' height='44' viewBox='0 0 44 44' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='43.2' height='43.2' rx='21.6' fill='%230014D1' /%3E%3Cpath fill='%23ffffff' fill-rule='evenodd' clip-rule='evenodd' d='M22.05 12.5996C19.7276 12.5996 19.4364 12.6092 18.5247 12.6509C17.6147 12.6926 16.9932 12.8369 16.4497 13.0485C15.8871 13.267 15.4104 13.5593 14.9353 14.0349C14.4597 14.51 14.1674 14.9867 13.9489 15.5494C13.7373 16.0928 13.593 16.7143 13.5518 17.6243C13.5102 18.5365 13.5 18.8272 13.5 21.1496C13.5 23.4715 13.5102 23.7627 13.5518 24.6749C13.593 25.5849 13.7373 26.2064 13.9489 26.7499C14.1674 27.3126 14.4597 27.7892 14.9353 28.2643C15.4104 28.7399 15.8871 29.0322 16.4497 29.2507C16.9932 29.4623 17.6147 29.6066 18.5247 29.6483C19.4364 29.6895 19.7276 29.6996 22.05 29.6996C24.3724 29.6996 24.6636 29.6895 25.5753 29.6483C26.4853 29.6066 27.1068 29.4623 27.6503 29.2507C28.2129 29.0322 28.6896 28.7399 29.1647 28.2643C29.6403 27.7892 29.9326 27.3126 30.1511 26.7499C30.3627 26.2064 30.507 25.5849 30.5482 24.6749C30.5898 23.7627 30.6 23.4715 30.6 21.1496C30.6 18.8272 30.5898 18.5365 30.5482 17.6243C30.507 16.7143 30.3627 16.0928 30.1511 15.5494C29.9326 14.9867 29.6403 14.51 29.1647 14.0349C28.6896 13.5593 28.2129 13.267 27.6503 13.0485C27.1068 12.8369 26.4853 12.6926 25.5753 12.6509C24.6636 12.6092 24.3724 12.5996 22.05 12.5996ZM22.05 14.1402C24.3329 14.1402 24.6032 14.1488 25.5053 14.1899C26.3384 14.2279 26.791 14.3673 27.0929 14.4843C27.4921 14.6393 27.7764 14.8247 28.0756 15.124C28.3749 15.4232 28.5603 15.7081 28.7153 16.1067C28.8323 16.4081 28.9718 16.8612 29.0092 17.6949C29.0508 18.5964 29.0594 18.8668 29.0594 21.1496C29.0594 23.4325 29.0508 23.7029 29.0092 24.6043C28.9718 25.438 28.8323 25.8911 28.7153 26.1925C28.5603 26.5912 28.3749 26.876 28.0756 27.1752C27.7764 27.4745 27.4921 27.6599 27.0929 27.8149C26.791 27.9319 26.3384 28.0714 25.5053 28.1093C24.6032 28.1505 24.3329 28.159 22.05 28.159C19.7671 28.159 19.4968 28.1505 18.5947 28.1093C17.7616 28.0714 17.309 27.9319 17.0071 27.8149C16.6079 27.6599 16.3236 27.4745 16.0244 27.1752C15.7251 26.876 15.5397 26.5912 15.3847 26.1925C15.2677 25.8911 15.1282 25.438 15.0908 24.6043C15.0492 23.7029 15.0406 23.4325 15.0406 21.1496C15.0406 18.8668 15.0492 18.5964 15.0908 17.6949C15.1282 16.8612 15.2677 16.4081 15.3847 16.1067C15.5397 15.7081 15.7251 15.4232 16.0244 15.124C16.3236 14.8247 16.6079 14.6393 17.0071 14.4843C17.309 14.3673 17.7616 14.2279 18.5947 14.1899C19.4968 14.1488 19.7671 14.1402 22.05 14.1402ZM22.05 23.9997C20.4763 23.9997 19.2002 22.7236 19.2002 21.1499C19.2002 19.5756 20.4763 18.2995 22.05 18.2995C23.6237 18.2995 24.8998 19.5756 24.8998 21.1499C24.8998 22.7236 23.6237 23.9997 22.05 23.9997ZM22.05 16.7589C19.625 16.7589 17.6596 18.7249 17.6596 21.1499C17.6596 23.5743 19.625 25.5403 22.05 25.5403C24.475 25.5403 26.4404 23.5743 26.4404 21.1499C26.4404 18.7249 24.475 16.7589 22.05 16.7589ZM26.614 17.6115C27.181 17.6115 27.64 17.1525 27.64 16.5855C27.64 16.0185 27.181 15.5595 26.614 15.5595C26.0476 15.5595 25.588 16.0185 25.588 16.5855C25.588 17.1525 26.0476 17.6115 26.614 17.6115Z' /%3E%3C/svg%3E");
}

/* light circle with dark icon */
.socialmedia__icon--inverted {
  background-color: transparent;
  color: var(--color-inverted-foreground);
}

.contact .socialmedia__icon--inverted:hover,
.contact .socialmedia__icon--inverted:focus {
  background-color: transparent;
  color: var(--color-hover-background-contrast);
}

.contact .socialmedia__icon--inverted:hover svg path {
  fill: var(--color-inverted-foreground);
}

.contact .socialmedia__link,
.contact .socialmedia__link:link,
.contact .socialmedia__link:visited,
.contact .socialmedia__link:active,
.contact .socialmedia__link:hover,
.contact .socialmedia__link:focus {
  background-color: transparent;
  background-image: none;
}

/* replicate, override, extend third party styles */
.socialmedia__feed_section,
.socialmedia__feed__embed--skeleton,
.socialmedia__feed__embed--juicer {
  position: relative;
}

.socialmedia__feed__embed--skeleton {
  z-index: 1;
  margin: 0;
}

.socialmedia__feed__embed--juicer {
  z-index: 2;
  margin: 0;
}

.socialmedia__feed__consent--juicer {
  z-index: 3;
  position: relative;
  background-color: var(--color-primary-background);
  margin-top: 1rem;
  padding: 1rem;
  display: inline-block;
  border: solid 1px var(--color-border-dialogbox);
  border-radius: 0.125rem;
  border-radius: 0.125rem;
  max-width: calc(100% - 2px);
  box-shadow: none;
  left: auto;
  right: auto;
}

@media (min-width: 555px) {
  .socialmedia__feed__consent--juicer {
    margin-top: 0;
    position: absolute;
    top: 30%;
    left: 30%;
    margin-left: 0;
    box-shadow: var(--effect-box-shadow-dialogbox);
  }
}

body.no-js .socialmedia__feed__consent--juicer {
  display: none;
}

.socialmedia__feed__consent__question {
  margin-bottom: 1rem;
}

.socialmedia__feed__consent__answers {
  display: flex;
  justify-content: space-around;
}

.socialmedia__feed__placeholder {
  overflow-x: hidden;
}

.socialmedia__feed__placeholder__image--5x {
  display: block;
}

.socialmedia__feed__section--active .socialmedia__feed__placeholder,
.socialmedia__feed__section--active .socialmedia__feed__consent {
  display: none;
}

.socialmedia__feed__embed__table {
  display: flex;
}

.socialmedia__feed__embed__row--preview {
  display: flex;
}

.socialmedia__feed__embed__row--preview img {
  height: 10rem;
  width: auto;
  max-width: unset;
}

.socialmedia__feed__embed__cell {
  background: silver;
  padding-right: 1px;
}

.j-image {
  position: relative;
  display: block;
}

.j-image img {
  width: auto !important;
  height: 20rem !important;
  aspect-ratio: 4/5;
  object-fit: cover;
}

/* overflowing swipeable section on mobile */
.juicer-feed .j-stacker {
  display: flex !important;
  width: fit-content !important;
}

.juicer-feed .j-stacker > *,
.juicer-feed .j-stacker .j-stack.galcolumn {
  display: flex !important;
  width: 100% !important;
}

.juicer-feed.hip li.feed-item {
  min-width: fit-content;
}

@media (hover: none) {
  .juicer-feed .j-stacker,
  .socialmedia__feed__placeholder .j-stacker {
    overflow-x: auto;
    margin-left: -1rem;
  }
}

@media (min-width: 768px) {
  .juicer-feed .j-stacker {
    display: table;
    table-layout: fixed;
    width: fit-content;
    margin: 0 auto;
  }

  .juicer-feed .j-stacker > * {
    display: table-cell !important;
    vertical-align: top;
    float: none !important;
  }

  .j-stack.galcolumn {
    width: 20%;
    padding-left: 0;
    padding-right: 0;
  }

  .j-image img {
    width: 100% !important;
    height: auto !important;
  }

  .socialmedia__feed__embed__table {
    display: flex;
    justify-content: space-around;
  }

  .socialmedia__feed__embed__row--preview img {
    height: auto;
    max-width: 100%;
    width: initial
  }
}

.socialmedia__feed__embed--juicer.referral,
.socialmedia__feed__embed--juicer h1 {
  display: none;
}

.juicer-feed h1.referral {
  text-align: right !important;
  position: absolute !important;
  bottom: 0 !important;
}

.juicer-feed h1.referral a::after {
  background-size: 100% 100%;
  background-position: 0 0;
}

.juicer-feed .j-paginate.juicer-button {
  display: none !important;
}

.j-overlay .j-overlay-content {
  max-width: 90vw !important;
}

.j-post-overlay {
 max-height: 80vh !important;
}

.j-post-overlay.juicer-feed a.juicer-button {
  border: none !important;
  font-family: var(--font-family-default) !important;
}

.j-post-overlay.juicer-feed a.juicer-button::before {
  content: "";
  display: none !important;
}

.j-post-overlay.juicer-feed .j-overlay-text .j-message,
.j-post-overlay.juicer-feed .j-overlay-text .j-message:focus,
.j-post-overlay.juicer-feed .j-overlay-text .j-message:focus-visible,
.j-post-overlay.juicer-feed .j-overlay-text .j-message:focus-within {
  outline-color: var(--color-unimportant-focus-outline) !important;
}

.j-overlay .j-overlay-content .j-close {
  background-color: transparent !important;
  border: none !important;
  color: var(--color-default-black);
  background-size: 50%;
}

.j-post-overlay.juicer-feed .j-navigate .j-next,
.j-post-overlay.juicer-feed .j-navigate .j-previous {
  appearance: none !important;
  -webkit-appearance: none !important;
  background-color: transparent !important;
  border: none !important;
  color: transparent !important;
}

.j-post-overlay.juicer-feed .j-navigate .j-next::before {
  content: ">";
  width: 1rem;
  height: 1rem;
  color: var(--color-default-black);
}

.j-post-overlay.juicer-feed .j-navigate .j-previous::before {
  content: "<";
  width: 1rem;
  height: 1rem;
  color: var(--color-default-black);
}
