/**
 * Stories Section
 *
 * @package KleiderOrdnung
 * @author openmindculture
 */

@mixin typography-heading-h2 .stories__headline {}

.stories {
  width: var(--width-full);
  max-width: var(--width-max-larger);
  margin: 0 auto 5rem auto;
}

@media (min-width: 768px) {
  .stories {
    margin-bottom: 7.5rem;
  }
}

.stories__viewport {
  position: relative;
  width: 100%;
  max-width: 100%;
  background-color: var(--color-primary-background);
}

.stories__story {
  flex: 0 0 auto;
  width: max-content;
  float: left;
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .stories__story {
    flex-direction: row;
  }
}

.stories__viewport:focus,
.stories__viewport:focus-visible,
.stories__story:focus,
.stories__story:focus-visible {
  outline-color: var(--color-custom-focus-outline);
}

.stories__story__image {
  flex: 0 0 auto;
  padding: 0;
  margin: 0 2rem 0 0;
  float: left;
}

.stories__story__image,
.stories__story__image img {
  height: 35.625rem;
  width: auto;
  max-width: unset;
}

.stories__story__quote {
  flex: 0 0 auto;
  width: 20.3125rem;
  height: 35.625rem; /* match image height */
  overflow-y: visible;
  margin: 0 2.5rem 2.5rem 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.stories__story__image.empty + .stories__story__quote.long {
  width: 35.625rem;
}

.stories__story__quote::before {
  content: " ";
  display: block;
  margin: 2rem auto 3.5rem 0;
  width: 3.5rem;
  height: 3rem;
  background-image: url("data:image/svg+xml,%3Csvg width='43' height='32' viewBox='0 0 43 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 21.6514C0 27.4799 3.56842 31.9999 9.63474 31.9999C15.3442 31.9999 18.9126 27.5988 18.9126 22.4841C18.9126 16.8935 15.1063 13.2062 8.8021 13.2062C10.1105 9.39987 12.7274 5.95039 14.9874 3.4525C14.6305 3.21461 10.8242 0.47881 10.4674 0.359863C2.14105 9.28092 0 17.0125 0 21.6514ZM23.7895 21.6514C23.7895 27.4799 27.3579 31.9999 33.4242 31.9999C39.1337 31.9999 42.7021 27.5988 42.7021 22.4841C42.7021 16.8935 38.8958 13.2062 32.5916 13.2062C33.9 9.39987 36.5168 5.95039 38.7768 3.4525C38.42 3.21461 34.6137 0.47881 34.2568 0.359863C25.9305 9.28092 23.7895 17.0125 23.7895 21.6514Z' fill='%230014D1'/%3E%3C/svg%3E");
  background-position: 0 0;
  background-repeat: no-repeat;
}

@media (min-width: 768px) {
  .stories__story__quote::before {
    margin-top: 0;
  }
}

@mixin typography-copy .stories__story__quote__author {
  display: block;
  margin-bottom: 1rem;
}

@mixin typography-quote-text .stories__story__quote__text {
  display: block;
  margin: 0;
}

.stories__navigation {
  text-align: right;
}

/* to make it look more natural / organic if the background intersects */
/* start with a transparent link background ... */
a.stories__navigation__link:link,
a.stories__navigation__link:visited {
  background-image:
    linear-gradient(transparent, transparent),
    linear-gradient(transparent, transparent),
    linear-gradient(var(--color-hover-background), var(--color-hover-background));
  background-position:
    left top,
    right top,
    center top;
  background-size:
    100% 100%,
    50% 100%,
    0% 100%;
  transition:
    background-size 0.25s ease-in,
    background-position 0.25s ease-in,
    color 0.25s ease-in;
}

.stories__navigation__link,
.stories__navigation__link:link,
.stories__navigation__link:visited,
.stories__navigation__link:active,
.stories__navigation__link:hover {
  display: inline-block;
  color: var(--color-primary-foreground);
  pointer-events: all;
  text-decoration: none;
}
.stories__navigation__link:last-child {
  margin-left: 1.5rem;
}

/* single or archive view */

body.archive .stories__story,
body.search .stories__story,
body.single-story .stories__story {
  width: 100%;
}

body.archive .stories__story__quote,
body.search .stories__story__quote,
body.single-story .stories__story__quote {
  width: 36rem;
  max-width: calc(100% - 2rem);
  justify-content: flex-start;
}

@media (min-width: 768px) {
  body.archive .stories__story,
  body.search .stories__story,
  body.single-story .stories__story {
    width: max-content;
  }

  body.archive .carousel__viewport,
  body.search .carousel__viewport,
  body.single-story .carousel__viewport {
    justify-content: space-around;
    max-width: 100%;
    overflow: hidden;
  }

  body.archive .stories__story__quote,
  body.search .stories__story__quote,
  body.single-story .stories__story__quote {
    justify-content: flex-end;
  }
}

/* "mobile mode" fixes to improve swipeable UX */

@media (max-width: 555px) {
  .stories__story__image, .stories__story__image img, .stories__story__quote {
    height: calc(70vw * 1.775700935); /* inverse default ratio (190/107) */
  }

  .stories__story__quote__text {
    font-size: var(--font-size-18);
    line-height: 170%;
    letter-spacing: 0.1rem;
    font-style: normal;
  }

  .stories__story__quote::before {
    background-size: 2rem;
    margin: 1rem 0 0 0;
  }

  @media (hover: none) {
      .stories__navigation {
        display: none;
      }
    }
}
