@import url("./animate.min.css") screen;
/* TODO fix using an unsurprising modern import using a css loader when adding postCSS */
/* TODO postCSS configuration
 * minify all files
 * include content from imported files
 * replace root variables (custom properties) in subsequent style definitions
 */

:root {

  /* Color Palette Inspiration */

  --tar: #535353; /* California Collection CC1 Tar */
  --sand: #e2d7c1; /* California Collection CC2 Sand */
  --citrona: #dbcc7c; /* California Collection CC3 Citrona */
  --palm: #c3cfbb; /* California Collection CC4 Palm */
  --faded-terracotta: #dfb797; /* California Collection CC8 Faded Terracotta */

  /* darker equivalents taken from photography used on the page */
  /* high contrast alternatives can be removed using allowLowContrast() handle after load */
  --citrona--darker: #bb9a47; /* like the yellow glasses cases */
  --citrona--dark: #d2bb75;
  --citrona--high--contrast: #e2a021;

  --palm--darker: #9ea47d; /* like the garden trees of testimonial V. */
  --palm--dark: #a6af91;
  --palm--high--contrast: #a8b26c;

  --sand--darker: #947e62; /* like the darker part of the portrait picture background */
  --sand--dark: #947e62; /* like the darker part of the portrait picture background */
  --sand--high--contrast: #966e37;


  --cyan--darker: #1eaeb4;  /* darker version of skirt in portrait picture */
  --cyan--dark:  #2ecbd1;  /* darker version of skirt in portrait picture */

  --dark-heart-rose: #ebc8c9;
  --light-heart-rose: #f6e7e6;
  --pale-rose: #fef5f8; /* Design Shack Typography Trends 2018 - 2022 */
  --pale-beige-rose: #f3ebde; /* San Diego Design Week / Julie's Dream von Little Greene */

  --default-white: #ffffff;

  /* Export Theme Colors */

  --primary-backround: var(--default-white);
  --primary-foreground: var(--tar);

  --neutral-background: transparent;
  --default-border-color: var(--dark-heart-rose);

  /* animate.css library: this changes all the animations globally https://animate.style  */

  --animate-duration: 2s; /* --animate-duration: 2ms; duration like "slow animation" in colorway elementor theme fade in */
  --animate-delay: 0.9s;

}

/* TODO use PostCSS to convert to color definitions for better backwards compatibility */
/* TODO minify CSS and HTML files */

.background-color--sand {
  background-color: var(--sand) !important;
}

.background-color--citrona {
  background-color: var(--citrona) !important;
}

.background-color--palm {
  background-color: var(--palm) !important;
}

.color--white {
  color: white;
}

/* reset styles, see https://piccalil.li/blog/a-modern-css-reset/ */

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* todo remove what gets overwritten anyway */
body,
h1,
h2,
h3,
h4,
p,
blockquote {
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

h1, h2, h3, h4, h5, .main__intro {
  font-family: "Kalam", Handwritten, sans-serif;
  font-weight: 400;
  font-size: 36px;
}

img, picture, svg {
  border: none;
  max-width: 100%;
  max-width: 99vw;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

li {
  margin-bottom: 1em;
  font-size: 110%;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* TODO response fluid font size using css clamp */

body {
  background: var(--neutral-background);
}

main, .main, p, article, section, .footer {
  background-color: var(--primary-backround);
  color: var(--primary-foreground);
  font-size: 103%;
  letter-spacing: 0.025rem;
  padding: 0 0.5em 0.5em 0;
}

.header {
  height: auto;
  margin: 0;
  background: var(--neutral-background);
  padding: 1em;
}

nav ul {
  display: flex;
  list-style: none;
}

nav ul li + li {
  margin-left: 1em;
}

.nav-wrapper {
  display: none;
}

.main {
  margin: 0 1em 0 1em;
}

/* TODO extract critical CSS and improve height handling to prevent unnecessary layout shift */
/* TODO prefer percentages or (r)em units */
.main__images {
  position: relative;
  margin: 0 auto 2em auto;
}

.main__image {
  max-width: 60%;
  height: auto;
  z-index: 3;
}

.main__intro {
  display: inline-block;
  max-width: 50%;
  padding: 4em 1em 4em 4em;
  font-size: 130%;
  font-family: "Kalam", Handwritten, sans-serif;
  font-weight: 400;
}

.main__intro .hello {
  display: block;
  font-size: 36px;
  line-height: 1.25;
  margin-bottom: 0.325em;
}

.main__image--beside {
  max-width: 40%;
  height: auto;
  margin-left: -2em;
  margin-bottom: -1em;
  z-index: 1;
}

.main__image--below {
  display: block;
  float: left;
  max-width: 33%;
  height: auto;
  margin-top: 1em;
  margin-left: 4em;
  z-index: 2;
}

article {
  max-width: 1021px;
}

article.testimonials {
  max-width: 1024px;
}

.testimonials__container {
  display: flex;
  display: grid;
  grid-template-columns: 10fr 8fr;
  justify-content: center;
  grid-gap: .5em;
  padding: .5em;
  max-width: 1024px;
  margin: 0 auto;
}

.testimonials__picture {
  position: relative;
}

/* fixed placement for pseudo masonry layout mixing portraint and landscape blocks */
.testimonials__text--vivien {
  grid-column: 1 / 1;
  grid-row: 1 / 1;
}
.testimonials__picture--vivien {
  grid-column: 2 / 2;
  grid-row: 1 / span 2;
  padding: 1em;
}
.testimonials__text--katja {
  grid-column: 1 / 1;
  grid-row: 3 / 3;
}
.testimonials__picture--katja {
  grid-column: 1 / 1;
  grid-row: 2 / 2;
  align-self: end;
  padding: 2em;
}
.testimonials__text--kathrin {
  grid-column: 1 / 1;
  grid-row: 4 / 4;
}
.testimonials__picture--kathrin {
  grid-column: 2 / 2;
  grid-row: 3 / span 4;
}

.testimonials .testimonials__image  {
  max-width: unset;
  width: 100%;
  height: auto;
  clip-path: ellipse(42% 50% at 53% 50%);
}

.testimonials .testimonials__imagecaption {
  position: absolute;
  bottom: 25%;
  right: 25%;
  padding: 0.25em 0.5em 0em 0.5em;
  font-weight: 700;
  font-family: "Kalam", Handwritten, sans-serif;
  font-size: 130%;
  color: #fff;
  background-color: rgba(0, 0, 0, 0);
}

.testimonials .testimonials__imagecaption--landscape {
  bottom: 50%;
  right: 15%;
}

.testimonials .testimonials__imagecaption.contrast--more {
  background-color: rgba(0, 0, 0);
  border-radius: 1em;
}

@media (max-width: 1024px) {
  .main .main__intro {
    padding: 2em 0 2em 2em;
    max-width: 55%;
  }
  .testimonials .testimonials__text {
    padding: 0 1em 1em 0;
  }
}

@media (max-width: 768px) {
  .testimonials h2 {
    text-align: center;
  }
  .testimonials .testimonials__container {
    grid-template-columns: 1fr;
    max-width: 482px;
  }
  .testimonials .testimonials__picture,
  .testimonials .testimonials__text {
    max-width: unset;
    grid-column: 1 / 1;
  }
  .testimonials .testimonials__picture--vivien {
    grid-row: 1 / 1;
  }
  .testimonials .testimonials__text--vivien {
    grid-row: 2 / 2;
  }
  .testimonials .testimonials__picture--katja {
    grid-row: 3 / 3;
  }
  .testimonials .testimonials__text--katja {
    grid-row: 4 / 4;
  }
  .testimonials .testimonials__picture--kathrin {
    grid-row: 5 / 5;
  }
  .testimonials .testimonials__text--kathrin {
    grid-row: 6 / 6;
  }

  img.main__image {
    max-width: 96%;
  }
  img.main__image--beside {
    max-width: 58%;
  }
  img.main__image--below {
    max-width: 42%;
    margin-left: 2%;
  }
  .main .main__intro {
    padding: 2em 0 0 0;
    margin: 0 auto 0 0;
    max-width: 77%;
    font-size: 120%;
    display: block;
  }

  .main p {
    font-size: 110%;
    margin-bottom: 2em;
  }
  .main p:has(+ p) {
    margin-bottom: 1em;
  }

  .main h1, .main h2, .main h3, .main h4, .main h5 {
    line-height: 1.25;
    margin-bottom: 0.325em;
  }
  .main h3 {
    margin-bottom: 0;
  }
  .main h3 + p:empty {
    display: none;
  }

  .main .testimonials figure img {
    padding: 0;
    margin: 0 auto;
  }

  .main .testimonials figure figcaption {
    padding: 1em;
  }

  .main .testimonials figure figcaption p {
    margin-bottom: 0;
  }
}

@media (max-width: 576px) {
  /* change item order to display intro text below first image */
  .main .main__images {
    display: grid;
  }
  .main .main__intro {
    grid-row: 2;
    padding-top: 1em;
    padding-bottom: 2em;
    max-width: 96%;
    width: 96%;
  }
  .main img.main__image--beside,
  .main img.main__image--below {
    max-width: 96%;
    margin: auto;
  }
  .main img.main__image--below {
    margin-top: 1em;
  }
}

.main__images:after {
  content: " ";
  clear: left;
  display: block;
}

@media (min-width: 1200px) {
  .main article,
  .main article.testimonials {
    margin: 0 auto;
  }
  .main__images {
    max-width: 1668px;
    margin-right: 0;
    margin-left: auto;
  }
  .main__image {
    max-width: 600px;
  }
  .main__image--beside {
    max-width: 500px;
    margin-left: 1em;
  }
  .main__image--below {
    max-width: 400px;
  }
  .main__intro {
    max-width: 550px;
  }
}

@media (min-width: 1599px) {
  .main .main__intro {
    max-width: 1000px;
    font-size: 150%;
    float: none;
    clear: both;
    text-align: center;
    margin: 0 auto;
    display: block;
  }
}

.tos {
  padding: 1em;
  max-width: 1200px;
  margin-top: 4em;
}

.tos h4 {
  margin: 1em 0 0.5em 0;
}

.hidden, .initially-hidden {
  display: none;
}

.initially-hidden:target {
  display: block;
}

.footer {
  text-align: center;
  margin: 2em 0 1em 0;
  padding: 0;
  font-size: 110%;
}

.footer p {
  margin: 0 auto;
  max-width: 1000px;
}

.feature__container {
  display: flex;
  max-width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
}

.feature__box {
  flex-basis: 30%;
  width: 30%;
  max-width: 100%;
  max-width: 99vw;
  min-height: 300px;
  border-style: solid;
  border-width: 1px;
  background-color: antiquewhite;
  border-color: gray;
  border-color: var(--default-border-color);
  color: darkgreen;
  padding: 0;
  display: flex;
  align-items: center;
  font-size: 1.5rem;
}

/* TODO refactor using native CSS nesting and https://www.npmjs.com/package/postcss-nesting */

.feature__box:first-child {
  background-color: var(--citrona--dark);
  background-color: var(--citrona--darker);
  background-color: var(--citrona);

}

.feature__box:nth-child(2) {
  background-color: var(--palm--dark);
  background-color: var(--palm--darker);
  background-color: var(--palm);

}

.feature__box:nth-child(3) {
  background-color: var(--sand--darker);
  background-color: var(--sand--dark);
  background-color: var(--cyan--darker);
  background-color: var(--cyan--dark);
  background-color: var(--cyan--darker);
  background-color: var(--sand);
}

.feature__box.contrast--more:first-child {
  background-color: var(--citrona--high--contrast);
}
.feature__box.contrast--more:nth-child(2) {
  background-color: var(--palm--high--contrast);
}
.feature__box.contrast--more:nth-child(3) {
  background-color: var(--sand--high--contrast);
}

.feature__box p {
  margin: 0;
  padding: 1em;
  background: transparent;
  text-align: center;
  font-size: 1.5rem;
  color: darkgreen;
}

.main article.outro {
  margin-top: 4em;
}

.main article.outro p {
  text-align: center;
  font-family: "Kalam", cursive, sans-serif;
  font-size: 150%;
}

a, a:link, a:visited, a:hover, a:active, a:focus {
  text-decoration: underline;
  color: var(--primary-foreground);
}

a:focus, a:hover {
  text-decoration-color: #f5df4d;
}

.vcard a.email, .vcard a.email:link, .vcard a.email:visited,
.vcard a.telephone, .vcard a.telephone:link, .vcard a.telephone:visited,
.vcard a.url, .vcard a.url:link, .vcard a.url:visited,
.footer a, .footer a:link, .footer a:visited,
.vcard .social a, .vcard .social a:link, .vcard .social a:visited {
  text-decoration: none;
}

/* stylelint-disable-next-line no-descending-specificity */
.social a + a {
  margin-left: 1em;
}

/* TODO animated color link hover, TODO define marked text color */
/*
@supports (background-image:linear-gradient(#222b40,#222b40)) and (transition:all 2s linear) {
  a, a:link, a:visited, a:active {
    background-image: linear-gradient(#bbbfc2,#bbbfc2),linear-gradient(#bbbfc2,#bbbfc2),linear-gradient(#f5df4d,#f5df4d);
    background-size: 100% 100%,50% 100%,100% 100%;
    transition: background-size .25s ease-in,color .25s ease-in;
  }

  a:focus, a:hover {
    background-position: 0 0,100% 0,0 0;
    background-repeat: no-repeat;
    background-size: 100% 100%,50% 100%,100% 100%;
    transition: background-size .25s ease-in,color .25s ease-in;
    background-image: linear-gradient(#bbbfc2,#bbbfc2),linear-gradient(#bbbfc2,#bbbfc2),linear-gradient(#f5df4d,#f5df4d);
    text-decoration-style: dotted;
    text-decoration-thickness: 0.1em;
  }
} */

.contact h2 {
  text-align: center;
  margin-bottom: 0.5em;
  margin-top: 1em;
}

/* Screen reader only */
.sr-only, .visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

/* visually spaced content that can be copied contiguously */
.visually-spaced + .visually-spaced::before {
  content: " ";
  letter-spacing: 0.25rem;
}

.social svg {
  height: 2em;
  width: auto;
  border-radius: 0.125em;
}

.vcard {
  padding: 2.5em 1em 1.5em 1em;
  background-color: white;
  background-image: linear-gradient(transparent,var(--palm));
  text-align: center;
  max-width: 500px;
  margin: 0 auto;
  font-size: 110%;
  font-style: normal;
}

.vcard.contrast--more {
  background-image: none;
}

.vcard .social {
  margin: 2em 0 0 0;
  opacity: 0.75;
}

@media (max-width: 768px) {
  .feature__container {
    flex-direction: column;
  }
  .feature__container .feature__box {
    width: 90%;
    flex-basis: 90%;
  }
}

/* TODO technical SEO and content SEM:
  - [ ] meaningful, unique heading content (not just "about me" or "imprint")
  - [ ] printable as pdf
  - [ ] mobile-friendly
  - [ ] accessible / screen reader friendly / tab navigateable
  - [ ] vcard download option?
  - [ ] ...
  - [ ] configure additional performance and security headers using .htaccess only if necessary
  - [ ] configure colors that provide necessary contrast to comply with WCAG 2.0 (might as well customize theme for the client?)
  - [ ] ^ this would be OK to be specific for the chosen font(s) for Kleiderordnung
 */
/* TODO possible decoration ideas
  - [ ] no centered column layout
  - [ ] pieces of cloth
  - [ ] micro animations
  - [ ] subtle text effects / gradients (see below)
 */
/* TODO use some cutting edge modern CSS and web dev features, just because, and with fallbacks of course:
 - [ ] content-visibility as potential visibility query and upgrade to intersection observer? thanks to schepp!
 - [ ] :has()
 - [ ] container-type / @container see [CSS Container Query Syntax Update 2022: container-type](https://dev.to/ingosteinke/css-container-query-syntax-update-5cg5)
 - [ ] advanced color space see [Taking colors to the next (CSS) level](https://dev.to/ingosteinke/ccs4-colors-5bj2)
 - [ ] mix-blend-mode see [Color blending with CSS blend-modes] => subtle text gradient effects like ISD / [Animated Gradient Text Color](https://dev.to/ingosteinke/animated-gradient-text-color-25hi)(https://dev.to/ingosteinke/color-blending-with-css-blend-modes-34h3)
 - [ ] aspect-ratio
 - [ ] calc()
 - [ ] clamp()
 - [ ] grid fr minmax || flex || float
 - [ ] image source set with sizes, formats (webp), and lazy loading => local library instead of manual tinkering?
 - [ ] use git based deployment (with or without netlify)
 - [ ] deployment should possibly also cover tests
 */

.animate--on-visibility {
  /* class will be used by JS intersection observer */
}

/* fade to pastel contrast unless user prefers high contrast */
.contrast--varies {
  transition: color 2s ease-out, background-color 2s ease-out, background-image 2s ease-out;
}

/* use ID to override 3rd party styles */
/* TODO defer and lazy load the following styles only when social media consent has been given */
#juicer-feed-container {
  margin: 2em auto 0 auto !important;
  max-width: 90%;
  text-align: center;
}

#juicer-feed-container .juicer-feed h1,
#juicer-feed-container .juicer-feed h1.referral,
#juicer-feed-container .juicer-feed h1.referral a {
  display: none;
}

#juicer-feed-container h2 {
  text-align: center;
}

#juicer-feed-container .juicer-feed .feed-item img {
  aspect-ratio: 1/1;
  object-fit: cover;
}

#juicer-feed-container .juicer-feed .j-stacker {
  border-spacing: 1em !important;
}

#juicer-feed-container .juicer-feed .j-stacker .galcolumn li {
  margin-bottom: 1em !important;
}

#juicer-feed-container .juicer-feed .j-message p {
  background: transparent;
  color: silver;
  font-family: "Figtree", "Helvetica", sans-serif;
  font-size: 130%;
  text-overflow: ellipsis;
}

#juicer-feed-container .juicer-feed .j-paginate {
  display: none;
}

#juicer-feed-container a.follow {
  margin: 2rem;
  padding: 1em;
  border: solid 1px var(--tar);
  border-radius: 0.25em;
  display: inline-block;
  text-decoration: none;
}

#klaro .klaro .cookie-notice {
  margin: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  max-width: unset;
}

#klaro .klaro .cookie-modal p {
  background: none;
}

#klaro .klaro .cookie-modal .cm-list-description {
  background: none;
  color: #fff;
}

/* hide default cookie message, hide configure button */
#klaro .klaro .cookie-notice .cn-body span,
#klaro .klaro .cookie-notice .cn-body .cn-ok a {
  display: none;
}

#klaro .klaro .cookie-notice .cn-body p::after {
  content: "Diese Seite nutzt Cookies. Mit Deinem Einverständnis möchten ich außerdem gerne meine Instagram-Bilder auf dieser Seite anzeigen.";
  width: 100%;
}

#klaro .klaro .cookie-notice:not(.cookie-modal-notice) .cn-body .cn-ok div {
  position: absolute;
  bottom: 0.625em;
  right: 0.5em;
}

#klaro .klaro .cookie-notice .cn-body p {
  padding-right: 11em;
}

#klaro .klaro .cookie-notice,
#klaro .klaro .cookie-notice .cn-body,
#klaro .klaro .cookie-notice .cn-body p,
#klaro .klaro .cookie-notice .cn-body span,
#klaro .klaro .cookie-notice .cn-body strong {
  background-color: #eee;
  color: darkgreen;
}

@media (max-width: 384px) {
  #klaro .klaro .cookie-notice .cn-body p {
    padding-right: 0;
    padding-bottom: 2em;
  }
  #klaro .klaro .cookie-notice:not(.cookie-modal-notice) .cn-body .cn-ok div {
    right: 0;
    padding: 0 0.5em 0 0.5em;
  }
}
