html {
  /* parallax perspective effects */
  height: 100%;
  overflow: hidden;
}

body {
  background-color: var(--color-primary-background);
  color: var(--color-primary-foreground);
  /* parallax perspective effects */
  height: 100%;
  height: 100vh;
  height: 100dvh;
  overflow-x: hidden;
  overflow-y: scroll;
  transform-style: preserve-3d;
  perspective: 1px;
  perspective-origin: 0 0;
}

body.popup-visible {
  overflow: hidden;
  perspective: none;
  transform-style: flat;
}

body.archive main,
body.category main,
body.search main,
body.page.home main { /* decoration-parallax-group */
  position: relative;
  transform-style: inherit;
}

/* ensure foreground and following sections stay in front of the decoration layer */
body.archive main > section,
body.archive main > div,
body.archive footer,
body.category main > section,
body.category main > div,
body.category footer,
body.search main > section,
body.search main > div,
body.search footer,
body.page.home main > section,
body.page.home main > div,
body.page.home footer {
  position: relative;
  z-index: 2;
}

@media (max-width: 767.767px) {
  /* workaround to older iOS iPhone layer issue, does no harm in mobile single column layout */
  .offers__offer__image picture img {
    position: relative;
    z-index: 2;
  }
}


body.archive .decoration__container,
body.category .decoration__container,
body.search .decoration__container,
body.page.home .decoration__container { /* decoration-parallax-layer-background */
  content: "";
  position: absolute;
  margin: 0;
  transform-origin: top left;
  transform: translateZ(-1px) scale(2);
  top: 112rem; /* 1800px; */
  height: 187rem; /* 2992px */
  width: auto;
  max-width: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  pointer-events: none;
  z-index: 1;
  background-image:
    var(--background-image-pita),
    var(--background-image-salmon),
    var(--background-image-lilac),
    var(--background-image-bluedots),
    var(--background-image-apricot),
    var(--background-image-salmon2);
  background-position:
    100% 0%,       /* top right pita shape */
    -20% 800px,    /* top left salon shape */
    110% 900px,    /* middle right lilac shape */
    20% 1999px,    /* blue dots */
    0% 1800px,     /* lower left apricot shape */
    120% 1900px;   /* lower right salmon shape */
  background-size:
    31.25rem auto, /* 500px auto, */
    40% 40%,
    40% 40%,
    6.25rem auto,  /* 100px auto, */
    30% 30%,
    30% 30%;
  background-repeat:
    no-repeat,
    no-repeat,
    no-repeat,
    no-repeat,
    no-repeat,
    no-repeat;
}

@media (min-width: 768px) {
  body.archive .decoration__container,
  body.category .decoration__container,
  body.search .decoration__container,
  body.page.home .decoration__container {
    top: 125rem;    /* 2000px; */
    height: 225rem; /* 3600px; */
  }
}

@media (min-width: 824px) {
  body.archive .decoration__container,
  body.category .decoration__container,
  body.search .decoration__container,
  body.page.home .decoration__container {
    height: 250rem; /* 4000px; */
  }
}

@media (min-width: 1024px) {
  body.archive .decoration__container,
  body.category .decoration__container,
  body.search .decoration__container,
  body.page.home .decoration__container{
    height: 187.5rem /* 3000px; */
  }
}

@media (min-width: 1920px) {
  body.archive .decoration__container,
  body.category .decoration__container,
  body.search .decoration__container,
  body.page.home .decoration__container {
    max-width: 120rem; /* 1920px; */
    margin: 0 auto;
    background-position: 100% 0%, 0% 800px,100% 900px,20% 1999px,2% 1800px,100% 1900px;
    background-position:
      100% 0%,
      0% 800px,     /* top left salon shape starts at left margin */
      100% 900px,   /* middle right lilac shape ends at right margin */
      20% 1999px,
      0% 1800px,
      100% 1900px;  /* lower right salmon shape ends at right margin */
    background-size:
      31.25rem auto,
      30% 30%,      /* top left salon shape: smaller size to adjust to new position */
      35% 35%,      /* middle right lilac shape: dto. */
      6.25rem auto,
      30% 30%,
      30% 30%;      /* lower right salmon shape: dto. */
  }
}



@media (prefers-reduced-motion) {
  body.archive .decoration__container,
  body.category .decoration__container,
  body.search .decoration__container,
  body.page.home .decoration__container {
    transform: translateZ(0);
  }
}

/* iPhone <13 CSS workaround obsoleted by more stable JS, setting body.prefers-reduced-motion */

/* stylelint-disable-next-line no-descending-specificity */
body.prefers-reduced-motion .decoration__container {
  transform: translateZ(0);
}
