/**
 * Editor Styles for Classic Editor (TinyMCE)
 *
 * @package KleiderOrdnung
 * @author openmindculture
 */

@import url("css/typography.css.php");
@import url("css/1_colors-design-settings.css");

body#tinymce.wp-editor {
  font-family: var(--font-family-default);
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-16);
  line-height: 140%;
  background-color: var(--color-primary-background);
  color: var(--color-primary-foreground);
}

body#tinymce.wp-editor.post-type-post,
body#tinymce.wp-editor.post-type-offer {
  background-color: var(--color-default-white);
}

body#tinymce.wp-editor.post-type-story {
  padding-top: 3.5rem;
}
body#tinymce.wp-editor.post-type-story::before {
  content: " ";
  display: block;
  margin: 0 auto 1.5rem 0;
  width: 2rem;
  height: 1.5rem;
  background-image: url("data:image/svg+xml,%3Csvg width='43' height='32' viewBox='0 0 43 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 21.6514C0 27.4799 3.56842 31.9999 9.63474 31.9999C15.3442 31.9999 18.9126 27.5988 18.9126 22.4841C18.9126 16.8935 15.1063 13.2062 8.8021 13.2062C10.1105 9.39987 12.7274 5.95039 14.9874 3.4525C14.6305 3.21461 10.8242 0.47881 10.4674 0.359863C2.14105 9.28092 0 17.0125 0 21.6514ZM23.7895 21.6514C23.7895 27.4799 27.3579 31.9999 33.4242 31.9999C39.1337 31.9999 42.7021 27.5988 42.7021 22.4841C42.7021 16.8935 38.8958 13.2062 32.5916 13.2062C33.9 9.39987 36.5168 5.95039 38.7768 3.4525C38.42 3.21461 34.6137 0.47881 34.2568 0.359863C25.9305 9.28092 23.7895 17.0125 23.7895 21.6514Z' fill='%230014D1'/%3E%3C/svg%3E");
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 90% 90%;
}

body#tinymce.wp-editor.post-type-page:not(.acf_content) {
  /* only applies to front pages (homepage),
   * other pages are edited in the block editor
   */
  background-image: url("img/keyvisual-kleiderordnung.jpg");
  background-repeat: no-repeat;
  background-size: 80% auto;
  background-position: center 1rem;
}

body#tinymce.wp-editor.post-type-page.acf_content_acf-field-page-mission-headline,
body#tinymce.wp-editor.post-type-page.acf_content_acf-field-page-mission-text,
body#tinymce.wp-editor.post-type-page.acf_content_acf-field-page-contact-teaser {
  background-color: var(--color-inverted-background);
  color: var(--color-inverted-foreground);
}

body#tinymce.wp-editor.post-type-page.acf_content_acf-field-page-intro-text {
  font-family: var(--font-family-heading); /* Ivy Mode */
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-48);
  line-height: 140%;
  letter-spacing: 0.05em;
}

body#tinymce.wp-editor.post-type-page.acf_content_acf-field-page-mission-text,
body#tinymce.wp-editor.post-type-page.acf_content_acf-field-page-contact-teaser {
  font-family: var(--font-family-heading); /* Ivy Mode */
  font-size: var(--font-size-24);
  line-height: 160%;
}
